<template>
  <div :id="sliderId" class="product-slider-wrap">
    <div class="product-slider">
      <div class="slider-container relative">
        <div class="block-title flex items-center mb-30">
          <h2 class="m-0 font-medium text-gray-200 leading-32">
            <div class="sec-subtitle" v-if="subTitle">
              {{ subTitle }}
            </div>
          </h2>
          <div class="product-swiper-arrows flex justify-end ml-auto">
            <span :id="sliderId + '-button-prev'" class="swiper-button-prev cursor-pointer" slot="button-prev">
              <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none" /><path d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z" />
              </svg>
            </span>
            <span :id="sliderId + '-button-next'" class="swiper-button-next cursor-pointer" slot="button-next">
              <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none" /><path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z" />
              </svg>
            </span>
          </div>
        </div>
        <div v-swiper="swiperOption" :instance-name="sliderId">
          <div class="swiper-wrapper">
            <div class="swiper-slide hover-on-product" v-for="(slider, index) in sliders" :key="index">
              <assembly-tile :slider="slider" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { directive } from 'vue-awesome-swiper'
import SwiperCore, { Navigation } from 'swiper';
import 'swiper/swiper.scss'
import AssemblyTile from './AssemblyTile.vue'

let lastHero = 0
SwiperCore.use([Navigation]);

export default {
  name: 'AssemblyListingSlider',
  components: {
    AssemblyTile
  },
  data () {
    return {
      swiperOption: {
        spaceBetween: 20,
        slidesPerView: 2,
        loop: false,
        observer: true,
        observeParents: true,
        resizeObserver: true,
        navigation: {
          nextEl: ('#' + this.sliderId + '-button-next'),
          prevEl: ('#' + this.sliderId + '-button-prev')
        },
        breakpoints: {
          1024: {
            slidesPerView: 6
          },
          900: {
            slidesPerView: 5
          },
          600: {
            slidesPerView: 4
          },
          480: {
            slidesPerView: 3
          }
        }
      }
    }
  },
  props: {
    sliderId: {
      type: String,
      default: 'assembly-swiper'
    },
    subTitle: {
      type: String,
      default: ''
    },
    perPageCustom: {
      type: Array,
      default: () => []
    },
    sliders: {
      type: Array,
      default: () => []
    },
    todayData: {
      type: Array,
      default: () => []
    }
  },
  directives: {
    swiper: directive
  }
}
</script>
<style lang="scss">
.product-slider-wrap {
  .swiper-button-next, .swiper-button-prev {
    box-shadow: none;
  }
}
.swiper-button-disabled{
  opacity: 0.6;
}
</style>
