<template>
  <div>
    <div class="pb-30 md:pb-80">
      <div class="assembly-wrap" v-if="getUniquesStyle.length && loading">
        <div class="first:pb-30 md:first:pb-80" data-role="group-filter" v-for="(style,index) in getUniquesStyle" :key="index">
          <section class="container">
            <assembly-listing-slider :per-page-custom="[[200, ['auto', 10]], [768, [3, 15]], [992, [3, 30]], [1200, [4, 30]]]" :sub-title="style" :slider-id="`related-product${index}`" :sliders="getStylesSection(style)" />
          </section>
        </div>
        <div class="pt-30 md:pt-80 container product-rr-wrap" v-if="visibleSliderFrame.assembly">
          <h2 class="font-medium text-gray-200 leading-32 mt-0 mb-40 text-center" v-if="visibleSliderFrame.name">
            {{ $t('Instructions For') }} {{ visibleSliderFrame.name }}
          </h2>
          <div class="crs-body" v-for="(frame, frameIndex) in getUniquesInstructions(visibleSliderFrame)" :key="`frame${frameIndex}`">
            <h3 class="px-20 py-12 bg-gray-100 border border-gray-500 text-18 font-medium" v-if="frame">
              {{ frame }}
            </h3>
            <div class="flex flex-wrap -mx-10">
              <instruction-tile v-for="(instruction, index) in getInstructionsSection(visibleSliderFrame, frame)" :key="`instruction${index}`" class="w-6/12 md:w-4/12 lg:w-3/12 px-10 mb-20" :instruction="instruction" :frame="`instruction${index}`" />
            </div>
          </div>
        </div>
      </div>
      <div class="align-center text-center skeleton-wrap container pb-30 md:pb-80" v-else>
        <div class="assembly-slider-skeleton first:pb-30 md:first:pb-80" v-for="index in 2" :key="index">
          <div class="skeleton-line relative h-32 mb-30" />
          <div class="slider-skeleton-wrap flex">
            <div class="slider-skeleton-image-wrap w-1/6 mr-20 last:mt-0" v-for="index1 in 6" :key="index1">
              <div class="skeleton-image relative" />
              <div class="skeleton-line relative h-21 mt-20 mb-21" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex';
import AssemblyListingSlider from './AssemblyListingSlider.vue'
import InstructionTile from './InstructionTile.vue'

export default {
  name: 'Assembly',
  data () {
    return {
      loading: false,
      visibleSliderFrame: []
    }
  },
  components: {
    AssemblyListingSlider,
    InstructionTile
  },
  computed: {
    ...mapGetters({
      getAssemblyList: 'assembly/getAssemblyList'
    }),
    getUniquesStyle () {
      return [...new Set(this.getAssemblyList.map(item => item.flat_panel.name))].slice(0, 2);
    }
  },
  async created () {
    await this.$store.dispatch('assembly/list', {});
  },
  mounted () {
    this.loading = true;
  },
  methods: {
    getStylesSection (type) {
      return this.getAssemblyList.filter(x => x.flat_panel.name === type);
    },
    getUniquesInstructions (visibleSliderFrame) {
      return visibleSliderFrame.assembly ? [...new Set(visibleSliderFrame.assembly.map(item => item.type))] : this.getAssemblyList[0].assembly;
    },
    getInstructionsSection (visibleSliderFrame, type) {
      return visibleSliderFrame.assembly ? visibleSliderFrame.assembly.filter(x => x.type === type) : [];
    }
  },
  beforeMount () {
    this.$bus.$on('visible-slider-frame', (params) => {
      if (params) {
        this.visibleSliderFrame = params;
      }
    })
  },
  metaInfo () {
    return {
      title: 'Assembly Instruction',
      meta: [{ vmid: 'description', name: 'description', content: 'Check our step by step instructions on how to assemble kitchen cabinets, from various base cabinets to wall cabinets, vanity cabinets, and pantry cabinets.' }]
    }
  }
};
</script>
<style lang="scss" scoped>
.slider-skeleton-image-wrap {
  .skeleton-image {
    padding-bottom: 122%;
  }
}
</style>
