<template>
  <button
    @click="isOnWishlist ? removeProductFromWhishList(product) : addProductToWhishlist(product)"
    class="flex items-center border-none pointer text-sm w-auto"
    type="button"
    data-testid="addToWishlist"
    aria-label="Add to favorite"
  >
    <slot>
      <template>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-24 w-24 text-gray-500 mr-5" :class="{'fill-current': isOnWishlist }" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
        </svg>
        <span v-if="!isOnWishlist">
          {{ $t('Add to favorite') }}
        </span>
        <span v-else>
          {{ $t('Remove') }}
        </span>
      </template>
    </slot>
  </button>
</template>

<script>
import { IsOnWishlist } from '@vue-storefront/core/modules/wishlist/components/IsOnWishlist'
import { AddToWishlist } from '@vue-storefront/core/modules/wishlist/components/AddToWishlist'
import { RemoveFromWishlist } from '@vue-storefront/core/modules/wishlist/components/RemoveFromWishlist'
import i18n from '@vue-storefront/i18n'
import { htmlDecode } from '@vue-storefront/core/lib/store/filters'

export default {
  mixins: [ IsOnWishlist, AddToWishlist, RemoveFromWishlist ],
  computed: {
    favoriteIcon () {
      return this.isOnWishlist ? 'favorite' : 'favorite_border'
    }
  },
  methods: {
    addProductToWhishlist (product) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        class: 'wishlist-notification',
        message: i18n.t('Product {productName} has been added to wishlist!', { productName: htmlDecode(product.name) }),
        action1: { label: i18n.t('Okay') }
      }, { root: true })
      this.addToWishlist(product)
    },
    removeProductFromWhishList (product) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        class: 'wishlist-notification-removed',
        message: i18n.t('Product {productName} has been removed from wishlist!', { productName: htmlDecode(product.name) }),
        action1: { label: i18n.t('Okay') }
      }, { root: true })
      this.removeFromWishlist(product)
    }
  }
}
</script>
