<template>
  <div class="sidebar-menu h-screen max-w-full overflow-hidden top-0 left-0 pt-30 pb-20 text-md">
    <div class="flex border-b border-gray-500 justify-between bg-white pb-20 items-center px-20">
      <div class="w-1/3">
        <sub-btn v-if="submenu.depth" type="back" class="flex items-center" />
      </div>
      <div class="w-1/3 text-center">
        <logo class="table m-auto" @click.native="closeMenu" />
      </div>
      <div class="w-1/3 text-right">
        <button
          type="button"
          :aria-label="$t('Close')"
          class="brdr-none close-btn block ml-auto"
          @click="closeMenu"
        >
          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="15" r="14.5" stroke="#222222" />
            <path d="M10 10L20 20" stroke="#222222" />
            <path d="M20.0005 10L10.0005 20" stroke="#222222" />
          </svg>
        </button>
      </div>
    </div>
    <div class="sidebar-menu__container scrolling-touch overflow-y-auto overflow-x-hidden mx-20" ref="container">
      <ul class="relative sidebar-menu__list" :style="mainListStyles">
        <li
          @click="closeMenu"
        >
          <router-link
            :to="localizedRoute('/')"
            exact
          >
            {{ $t('Home') }}
          </router-link>
        </li>
        <li
          :key="category.slug"
          @click="closeMenu"
          v-for="category in visibleCategories"
        >
          <div
            v-if="isCurrentMenuShowed"
            class="subcategory-item flex w-full"
          >
            <sub-btn
              v-if="category.children_count > 0"
              :id="category.id"
              :name="category.name"
            />
            <router-link
              v-else
              :to="categoryLink(category)"
            >
              {{ category.name }}
            </router-link>
          </div>

          <sub-category
            :category-links="category.children_data"
            :id="category.id"
            :parent-slug="category.slug"
            :parent-path="category.url_path"
          />
        </li>
        <li @click="closeMenu">
          <router-link :to="localizedRoute('/current-sale')">
            <span>{{ 'Sale' }}</span>
          </router-link>
        </li>
        <li
          @click="login"
        >
          <sub-btn
            v-if="currentUser"
            id="my-account-links"
            :is-category="false"
            :name="$t('My Account')"
          />
          <sub-category
            v-if="currentUser"
            :my-account-links="myAccountLinks"
            id="my-account-links"
            @click.native="closeMenu"
          />
          <a
            v-if="!currentUser && isCurrentMenuShowed"
            href="#"
            @click.prevent="closeMenu"
          >
            {{ $t('My Account') }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import i18n from '@vue-storefront/i18n'
import SidebarMenu from '@vue-storefront/core/compatibility/components/blocks/SidebarMenu/SidebarMenu'
import SubBtn from 'theme/components/core/blocks/SidebarMenu/SubBtn'
// import SubCategory from 'theme/components/core/blocks/SidebarMenu/SubCategory'
import { formatCategoryLink } from '@vue-storefront/core/modules/url/helpers'
import Logo from 'theme/components/core/Logo'

const SubCategory = () => import(/* webpackPreload: true */ /* webpackChunkName: "vsf-sidebar-sub-menu" */ 'theme/components/core/blocks/SidebarMenu/SubCategory')

export default {
  components: {
    SubCategory,
    SubBtn,
    Logo
  },
  mixins: [SidebarMenu],
  data () {
    return {
      myAccountLinks: [
        {
          id: 1,
          name: i18n.t('My Profile'),
          url: '/my-account'
        },
        {
          id: 2,
          name: i18n.t('My Address Book'),
          url: '/my-account/shipping-details'
        },
        {
          id: 3,
          name: i18n.t('My NewsLetter'),
          url: '/my-account/newsletter'
        },
        {
          id: 4,
          name: i18n.t('My Orders'),
          url: '/my-account/orders'
        },
        {
          id: 5,
          name: i18n.t('Stored Payment Methods'),
          url: '#'
        },
        {
          id: 5,
          name: i18n.t('My Wishlist'),
          url: '#'
        },
        {
          id: 6,
          name: i18n.t('My Social Accounts'),
          url: '#'
        }
      ],
      componentLoaded: true
    }
  },
  computed: {
    mainListStyles () {
      return this.submenu.depth ? `transform: translateX(${this.submenu.depth * 100}%)` : true
    },
    ...mapState({
      submenu: state => state.ui.submenu,
      currentUser: state => state.user.current
    }),
    getSubmenu () {
      return this.submenu
    },
    visibleCategories () {
      return this.categories.filter(category => {
        return category.product_count > 0 || category.children_count > 0
      })
    },
    isCurrentMenuShowed () {
      return !this.getSubmenu || !this.getSubmenu.depth
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.componentLoaded = true;
    })
  },
  methods: {
    login () {
      if (!this.currentUser && this.isCurrentMenuShowed) {
        this.$nextTick(() => {
          this.$store.commit('ui/setAuthElem', 'login')
          this.$bus.$emit('modal-show', 'modal-signup')
          this.$router.push({ name: 'my-account' })
        })
      }
    },
    categoryLink (category) {
      return formatCategoryLink(category)
    }
  }
}
</script>
