<template>
  <div class="tab" v-if="selectedIndex">
    <div class="tab-content">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      selectedIndex: this.isActive
    }
  },
  props: {
    title: {
      type: String,
      default: 'Tab'
    },
    isActive: {
      type: Boolean,
      default: false
    }
  }
}
</script>
