<template>
  <div class="tabs__light  z-1 relative h-full">
    <ul class="tabs__header relative flex flex-wrap">
      <li v-for="(tab, index) in tabs"
          :key="index"
          @click="selectTab(index)"
          :class="{'tab__selected bg-orange-light text-orange-dark font-medium border-orange-dark': (index == selectedIndex)}"
          class="cursor-pointer leading-16 text-sm md:text-base md:leading-18 py-13 md:py-19 px-10 border-b border-gray-500 rounded-t-lg flex-grow text-center"
      >
        {{ tab.title }}
      </li>
    </ul>
    <slot />
  </div>
</template>

<script>
export default {
  data () {
    return {
      selectedIndex: 0, // the index of the selected tab,
      tabs: [] // all of the tabs
    }
  },
  created () {
    this.tabs = this.$children
  },
  mounted () {
    this.selectTab(0)
  },
  watch: {
    $route (to, from) {
      this.selectTab(0)
    }
  },
  methods: {
    selectTab (i) {
      this.selectedIndex = i
      // loop over all the tabs
      this.tabs.forEach((tab, index) => {
        tab.selectedIndex = (index === i)
      })
    }
  }
}
</script>
