<template>
  <div>
    <router-link :to="localizedRoute('/' + category.url_path)" data-testid="categoryLink">
    <p v-if="category.f_cat_sample_label">{{category.f_cat_sample_label}}</p>
      <img
        v-if="category.image"
        v-lazy="category.image"
        @error="'/assets/placeholder.jpg'"
        :alt="category.name"
      />
      <img v-else src="/assets/placeholder.jpg" :alt="category.name" />
      <h1>{{ category.name }}</h1>
      <span class="new" v-if="category.finalprice">{{ $t('Basic Kitchen Starting At') }} {{ category.finalprice | price(storeView)}}</span>
    </router-link>
    <div class="actions">
          <a :href="category.f_cat_sample_link" color="light">
            {{ $t('Order a sample') }}
          </a>
          
          <router-link  :to="localizedRoute('/' + category.url_path)" color="light">
            {{ $t('Shop Now') }}
          </router-link>
      </div>
  </div>
</template>

<script>
import { currentStoreView } from '@vue-storefront/core/lib/multistore'

export default {
  props: {
    category: {
      type: Object,
      require: true,
      default: () => {},
    }
  },
  computed: {
    storeView () {
      return currentStoreView()
    }
  }
}
</script>
