<template>
  <div class="category__megamenu  border-b border-t border-gray-500 bg-white">
    <div class="container">
      <div class="category__first-level">
        <ul v-if="categories.length" class="flex firstlevel-ul justify-center m-0">
          <li
            v-for="(category, index) of categories"
            :key="'first-' + index"
            class="firstlevel-li"
          >
            <router-link :to="categoryLink(category)" class="firstlevel">
              {{ category.name }}
              <svg width="9" class="ml-7" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg" v-if="category.children_data && category.children_data.length > 0">
                <path d="M1 0.75L4.5 4.25L8 0.75" stroke="#222222" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </router-link>
            <div class="category__levels megamenu" v-if="category.children_data && category.children_data.length > 0">
              <div class="bg-white w-full py-30 mt-2">
                <div class="megamenu-bg flex container">
                  <div class="category__second-level pr-25">
                    <ul>
                      <li
                        class="secondlevel-li"
                        v-for="(subCat, indx) of category.children_data"
                        :key="'second-' + indx"
                      >
                        <router-link :to="categoryLink(subCat)" class="secondlevel">
                          <span>
                            {{ subCat.name }}
                          </span>
                        </router-link>
                        <div class="third-level-box">
                          <div class="category__third-level" :class="{ 'w-full' : !categoryImage }" v-if="subCat.children_data && subCat.children_data.length > 0">
                            <ul>
                              <li
                                v-for="(thirdcat, indxs) of subCat.children_data"
                                :key="'second-' + indxs"
                              >
                                <router-link :to="categoryLink(thirdcat)">
                                  {{ thirdcat.name }}
                                </router-link>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="category__image" v-if="getCategoryImage">
                    <div class="bg-cl-secondary category_image-bg relative" v-if="categoryImage !== null || categoryImage !== ''">
                      <img :src="getCategoryImage(category.image)" alt="category image">
                    </div>
                    <div class="category__image-text pt-20" v-html="category.description" />
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="firstlevel-li">
            <router-link :to="localizedRoute('/current-sale')" class="firstlevel">
              <label class="flex items-center  border-l border-gray-500 pl-16 lg:pl-40 cursor-pointer">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="inline-flex items-center mr-8">
                  <path d="M8.822 1.69327C9.52427 1.18099 10.477 1.18099 11.1793 1.69327L11.88 2.2044C12.2233 2.45484 12.6375 2.58941 13.0625 2.5886L13.9298 2.58695C14.799 2.5853 15.5698 3.14531 15.8369 3.97254L16.1033 4.79791C16.2339 5.20232 16.4898 5.55464 16.8341 5.80377L17.5368 6.31223C18.241 6.82183 18.5354 7.72795 18.2652 8.55415L17.9956 9.37851C17.8635 9.78242 17.8635 10.2179 17.9956 10.6218L18.2652 11.4462C18.5354 12.2724 18.241 13.1785 17.5368 13.6881L16.8341 14.1966C16.4898 14.4457 16.2339 14.798 16.1033 15.2024L15.8369 16.0278C15.5698 16.855 14.799 17.415 13.9298 17.4134L13.0625 17.4117C12.6375 17.4109 12.2233 17.5455 11.88 17.7959L11.1793 18.3071C10.477 18.8193 9.52427 18.8193 8.822 18.3071L8.1213 17.7959C7.77798 17.5455 7.3638 17.4109 6.93884 17.4117L6.07153 17.4134C5.20227 17.415 4.43148 16.855 4.16443 16.0278L3.89799 15.2024C3.76744 14.798 3.51147 14.4457 3.16719 14.1966L2.46455 13.6881C1.76033 13.1785 1.46591 12.2724 1.7361 11.4462L2.00569 10.6218C2.13778 10.2179 2.13778 9.78242 2.00569 9.37851L1.7361 8.55415C1.46591 7.72795 1.76033 6.82183 2.46455 6.31223L3.16719 5.80377C3.51147 5.55464 3.76744 5.20232 3.89799 4.79791L4.16443 3.97254C4.43148 3.14531 5.20227 2.5853 6.07153 2.58695L6.93884 2.5886C7.3638 2.58941 7.77797 2.45484 8.1213 2.2044L8.822 1.69327Z" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M12.5 7.0835L7.5 12.9168" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
                  <circle cx="8.33333" cy="8.33333" r="0.833334" stroke="#222222" />
                  <ellipse cx="11.6673" cy="11.6668" rx="0.833333" ry="0.833332" stroke="#222222" />
                </svg>
                <span>{{ 'Sale' }}</span>
              </label>
            </router-link>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>

import { mapGetters } from 'vuex';
import config from 'config';
import { formatCategoryLink } from '@vue-storefront/core/modules/url/helpers';
import { getCategoryUrl } from 'theme/helpers';

export default {
  name: 'CategoryMegaMenu',
  data () {
    return {
      categoryImage: null
    };
  },
  computed: {
    ...mapGetters('category-next', ['getMenuCategories']),
    getCategories () {
      return this.getMenuCategories;
    },

    categories () {
      return this.getCategories.filter(op => {
        return (
          op.level ===
          (config.entities.category.categoriesDynamicPrefetchLevel >= 0 &&
          op.include_in_menu === 1
            ? config.entities.category.categoriesDynamicPrefetchLevel
            : 2)
        );
      });
    }
  },
  methods: {
    categoryLink (category) {
      return formatCategoryLink(category);
    },
    getCategoryImage (path) {
      return getCategoryUrl(path);
    }
  }
};
</script>
<style lang="scss" scoped>
  .megamenu {box-shadow: 0px 6px 9px rgba(0, 2px, 1px, 0.2);}
</style>
