<template>
  <div class="flex flex-wrap mb-20 md:mb-30">
    <div
      v-for="(product) in products"
      :key="product.id"
      class="w-6/12 md:w-3/12 feature-tile-col border border-gray-500 border-r-0 p-10 last:border-r"
    >
      <feature-tile :product="product" />
    </div>
  </div>
</template>

<script>
import FeatureTile from 'theme/components/core/FeatureTile'
export default {
  name: 'Features',
  components: {
    FeatureTile
  },
  props: {
    products: {
      type: null,
      required: true
    }
  }
}
</script>
