<template>
  <div class="custom-option mb15">
    <h4> {{ option.title }} </h4>
    <div class="m5 relative" v-for="opval in option.product_links" :key="opval.id" data-testid="bundle-single-option">
      <input
        type="radio"
        class="m0 no-outline"
        :name="bundleOptionName + opval.id"
        :id="bundleOptionName + opval.id"
        focus
        :value="opval.id"
        v-model="productOptionId"
      >
      <label v-if="opval.product" class="pl10 lh20 h4 pointer" :for="bundleOptionName + opval.id" v-html="opval.product.name" />
    </div>
    <div>
      <label class="qty-label flex" :for="quantityName">{{ $t('Quantity') }}</label>
      <input
        type="number"
        min="0"
        class="m0 no-outline qty-input py10 brdr-cl-primary bg-cl-transparent h4"
        :name="quantityName"
        :id="quantityName"
        focus
        v-model="quantity"
      >
    </div>
    <span class="error" v-if="errorMessage">{{ errorMessage }}</span>
  </div>
</template>

<script>
import { ProductBundleOption } from '@vue-storefront/core/modules/catalog/components/ProductBundleOption.ts'

export default {
  mixins: [ProductBundleOption]
}
</script>
