
<template>
  <div class="media-zoom-carousel w-full h-full">
    <div class="media-zoom-carousel__container row w-full flex absolute h-auto md:h-full bottom-auto md:bottom-0 md:top-0 top-2/4 m-auto p-20 overflow-hidden max-h-full">
      <ul class="media-zoom-carousel__thumbs m0 p0 list-none pr-20 w-full h-full overflow-hidden hidden md:block" ref="thumbs">
        <li class="media-zoom-carousel__thumb mb-20 max-w-full cursor-pointer" v-for="(images, index) in gallery" :key="images.src">
          <product-image
            @click="navigate(index)"
            :image="images"
            :alt="productName | htmlDecode"
          />
        </li>
      </ul>
      <div class="media-zoom-carousel__gallery h-auto md:h-full flex-1 relative self-center">
        <swiper :options="zoomSwiperOption" ref="zoomSwiperOption" :instance-name="sliderId" :speed="carouselTransitionSpeed" @pageChange="pageChange" :navigate-to="currentPage">
          <swiper-slide class="swiper-slide hover-on-product" v-for="(images, index) in gallery" :key="images.src">
            <div class="media-zoom-carousel__slide h-full max-h-full"
                 :class="{'video-container justify-center items-center h-full flex relative': images.video}"
            >
              <product-gallery-image
                v-show="hideImageAtIndex !== index"
                :image="images"
                :alt="productName | htmlDecode"
                :is-active="index === currentPage"
              />
              <product-video
                v-if="images.video && (index === currentPage)"
                v-bind="images.video"
                :index="index"
                @video-started="onVideoStarted"
              />
            </div>
          </swiper-slide>
        </swiper>
        <div :id="sliderId + '-button-prev'" class="swiper-button-prev absolute top-0 bottom-0 left-0 m-auto h-19 z-10" slot="button-prev">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-19 w-19" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
          </svg>
        </div>
        <div :id="sliderId + '-button-next'" class="swiper-button-next absolute top-0 bottom-0 right-0 m-auto h-19 z-10" slot="button-next">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-19 w-19" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
          </svg>
        </div>
        <div :id="sliderId + 'bullets'" slot="pagination" class="bullets absolute left-0 right-0 bottom-20 flex justify-center z-40" />
      </div>
    </div>
  </div>
</template>

<script>
import { disableBodyScroll, clearAllBodyScrollLocks } from 'body-scroll-lock'
import ProductImage from './ProductImage'
import ProductGalleryImage from './ProductGalleryImage'
import ProductVideo from './ProductVideo'
import SwiperCore, { Navigation, Pagination } from 'swiper';
import { directive, Swiper, SwiperSlide } from 'vue-awesome-swiper'
import 'swiper/swiper.scss'

SwiperCore.use([Navigation, Pagination]);

export default {
  name: 'ProductGalleryZoomCarousel',
  props: {
    currentSlide: {
      type: Number,
      required: false,
      default: 0
    },
    gallery: {
      type: Array,
      required: true
    },
    productName: {
      type: String,
      required: true
    },
    sliderId: {
      type: String,
      default: 'product-zoom-gallery'
    }
  },
  directives: {
    swiper: directive
  },
  data () {
    return {
      carouselTransitionSpeed: 300,
      currentPage: 0,
      hideImageAtIndex: null,
      zoomSwiperOption: {
        spaceBetween: 0,
        slidesPerView: 1,
        loop: false,
        navigation: {
          nextEl: ('#' + this.sliderId + '-button-next'),
          prevEl: ('#' + this.sliderId + '-button-prev'),
          type: 'bullets'
        },
        pagination: {
          el: ('#' + this.sliderId + 'bullets'),
          clickable: true
        }
      }
    }
  },
  components: {
    ProductImage,
    ProductGalleryImage,
    ProductVideo,
    Swiper,
    SwiperSlide
  },
  mounted () {
    this.$nextTick(() => {
      disableBodyScroll(this.$refs.thumbs)
    })
    this.navigate()
    this.$refs.zoomSwiperOption.$swiper.activeIndex = this.currentSlide
  },
  beforeDestroy () {
    clearAllBodyScrollLocks()
  },
  methods: {
    navigate (index) {
      this.currentPage = index
      this.$refs.zoomSwiperOption.$swiper.activeIndex = index
    },
    increaseCarouselTransitionSpeed () {
      this.carouselTransitionSpeed = 500
    },
    pageChange (index) {
      this.hideImageAtIndex = null
    },
    onVideoStarted (index) {
      this.hideImageAtIndex = index
    }
  }
}
</script>

<style lang="scss">
.media-zoom-carousel {
  &__container{
    height: 750px;
    justify-content: space-evenly;
    @media (max-width: 767px){
      transform: translate3d(0, -50%, 0);
    }
  }
  &__thumbs{
    max-width: 140px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__thumb{
    &:last-of-type {
      margin-bottom: 0;
    }
    & > *{
      opacity: .9;
      will-change: opacity;
      transition: .3s;

      &:hover{
        opacity: 1;
      }
    }
  }
  &__gallery{
    max-width: 600px;
    @media (max-width: 767px) {
      max-width: 100%;
    }
  }
  .swiper-container {
    max-height: 100%;
  }
  .bullets {
    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background-color: rgb(51, 51, 51);
      margin: 0 10px;
      border-radius: 10px;
      cursor: pointer;
      &.swiper-pagination-bullet-active {
        background-color: rgb(130, 130, 130);
      }
    }
  }
}
</style>
