<template>
  <div>
    <div class="minusplusnumber border border-gray-200 flex text-center rounded h-40 select-none relative justify-center items-center">
      <div class="mpbtn minus py-3 px-10 cursor-pointer w-50 h-40 items-center flex" @click="mpminus()">
        <svg width="8" height="1" viewBox="0 0 8 1" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8 0.5L-5.96046e-08 0.499999" stroke="#333333" />
        </svg>
      </div>
      <div id="field_container">
        <label class="base-input-number__label cl-primary hidden" :for="getInputId">{{ name }}</label>
        <input
          :id="getInputId"
          type="number"
          :min="min"
          :max="max"
          disabled="disabled"
          class="text-center border-0 padding-3 h-full bg-transparent w-full"
          :focus="autofocus"
          v-model="newValue"
          @blur="$emit('blur', $event.target.value)"
        >
      </div>
      <div class="mpbtn plus mpbtn minus py-3 items-center flex px-10 cursor-pointer w-50 h-40" @click="mpplus()">
        <svg width="8" height="9" viewBox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 0.5V8.5" stroke="#333333" />
          <path d="M8 4.5L-5.96046e-08 4.5" stroke="#333333" />
        </svg>
      </div>
      <ValidationMessages v-if="validations" :validations="validations" />
      <div class="spiner-wrap absolute inset-0 w-46 h-22 m-auto bg-white">
        <spinner v-if="loading && page === 'sidebar'" />
      </div>
    </div>
  </div>
</template>

<script>
import ValidationMessages from 'theme/components/core/blocks/Form/ValidationMessages.vue'
import Spinner from 'theme/components/core/Spinner'
import { mapGetters } from 'vuex'

export default {
  name: 'QuantityBox',
  components: {
    ValidationMessages,
    Spinner
  },
  props: {
    value: {
      type: [String, Number],
      default: 0
    },
    name: {
      type: String,
      required: false,
      default: ''
    },
    min: {
      type: Number,
      default: 1
    },
    max: {
      type: Number,
      default: undefined
    },
    disabled: {
      type: Boolean,
      default: false
    },
    autofocus: {
      type: Boolean,
      default: false
    },
    validations: {
      type: Array,
      default: () => []
    },
    onlyPositive: {
      type: Boolean,
      default: false
    },
    page: {
      type: String,
      required: false,
      default: ''
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  data: function () {
    return {
      newValue: 0
    }
  },
  computed: {
    ...mapGetters('themeCart', ['isEditMode', 'getEditingProductId', 'getSelectedOptions', 'getEditingQty']),
    getInputId () {
      return `input_${this._uid}`
    },
    inputValue: {
      get () {
        return this.value
      }
    }
  },
  methods: {
    mpplus () {
      if (this.max === undefined || (this.newValue < this.max)) {
        this.newValue = this.newValue + 1;
        this.$emit('input', this.newValue);
        if (!this.isEditMode) { this.$emit('show-loader', true); }
      }
    },
    mpminus () {
      if ((this.newValue) > this.min) {
        this.newValue = this.newValue - 1;
        this.$emit('input', this.newValue);
        if (!this.isEditMode) { this.$emit('show-loader', true); }
      }
    }
  },
  watch: {
    value: {
      handler: function (newVal, oldVal) {
        this.newValue = newVal;
      }
    }
  },
  created () {
    this.newValue = this.value;
  }
}
</script>

<style lang="scss" scoped>
.minusplusnumber {
  .spiner-wrap {
    &:empty {
      display: none;
    }
  }
}
.minusplusnumber #field_container input {
  -moz-appearance: textfield;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
</style>
