<template>
  <footer class="bg-gray-200" :class="{ 'border-t border-gray-100': isCheckoutPage }">
    <cms-block :identifier="'footer_block'" />
    <back-to-top bottom="20px" right="20px" visibleoffset="200">
      <button type="button" class="btn-top button no-outline brdr-none cl-white bg-mine-shaft hover:bg-gray-400 p-10" aria-label="Bottom to Top">
        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
          <path d="M23.245 20l-11.245-14.374-11.219 14.374-.781-.619 12-15.381 12 15.391-.755.609z" fill="white" />
        </svg>
      </button>
    </back-to-top>
  </footer>
</template>

<script>
import { mapGetters } from 'vuex'
import { currentStoreView, localizedRoute } from '@vue-storefront/core/lib/multistore'
import CurrentPage from 'theme/mixins/currentPage'
import BackToTop from 'theme/components/core/BackToTop'
import { getPathForStaticPage } from 'theme/helpers'
import config from 'config'
import CmsBlock from 'theme/components/core/blocks/Cms/Block'

export default {
  mixins: [CurrentPage],
  name: 'MainFooter',
  
  methods: {
    goToAccount () {
      this.$bus.$emit('modal-toggle', 'modal-signup')
    },
    getLinkFor (path) {
      return localizedRoute(getPathForStaticPage(path))
    },
    openAccordion () {
      const accordionItemAll = document.querySelectorAll('.footer-col');
      accordionItemAll && accordionItemAll.length > 0 && accordionItemAll.forEach((item, index) => {
        item.getElementsByClassName('footer-title')[0].addEventListener('click', (e) => {
          document.querySelectorAll('.footer-col').forEach((itm) => {
            if (item.classList[1] === undefined) {
              itm.classList.remove('active')
            }
          })
          if (item.classList[1] === undefined) {
            item.classList.add('active')
          } else {
            item.classList.remove('active')
          }
        })
      })
    }
  },
  computed: {
    ...mapGetters({
      isLogged: 'user/isLoggedIn'
    }),
    multistoreEnabled () {
      return config.storeViews.multistore
    },
    getVersionInfo () {
      return `v${process.env.__APPVERSION__} ${process.env.__BUILDTIME__}`
    }
  },
  components: {
    BackToTop,
    CmsBlock
  }
}
</script>