<template>
  <div
    class="relative dropdown group"
    data-testid="accountButton"
    @click.self="goToAccount();showMenu = true;"
    @keyup.enter="goToAccount"
    tabindex="0"
    role="button"
    @mouseover="showMenu = true"
    @mouseout="showMenu = false"
  >
    <button
      type="button"
      class="bg-cl-transparent brdr-none p0 relative pointer-events-none"
      aria-label="$t('Open my account')"
    >
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="10" cy="5.5" r="4.5" stroke="#222222" />
        <path d="M1 18.9999C2.39302 15.6906 5.89729 13.3428 10 13.3428C14.1027 13.3428 17.607 15.6906 19 18.9999" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </button>

    <no-ssr>
      <div v-show="currentUser" class="dropdown-content">
        <div v-for="(page, index) in navigation" :key="index" @click="notify(page.title)">
          <router-link @click.native="showMenu = false" class="text-base hover:bg-gray-200 hover:opacity-100" :to="localizedRoute(page.link)">
            {{ page.title }}
          </router-link>
        </div>
        <div class="border-t border-gray-500">
          <a href="#" class="text-base hover:bg-gray-200 hover:opacity-100" @click.prevent="logout">
            {{ $t('Logout') }}
          </a>
        </div>
      </div>
    </no-ssr>
  </div>
</template>

<script>
import NoSSR from 'vue-no-ssr'
import AccountIcon from '@vue-storefront/core/compatibility/components/blocks/Header/AccountIcon'

export default {
  mixins: [AccountIcon],
  components: {
    'no-ssr': NoSSR
  },
  data () {
    return {
      showMenu: false,
      navigation: [
        { title: this.$t('My Profile'), link: '/my-account' },
        { title: this.$t('My Address Book'), link: '/my-account/shipping-details' },
        { title: this.$t('Newsletter'), link: '/my-account/newsletter' },
        { title: this.$t('My Order'), link: '/my-account/orders' },
        { title: this.$t('Stored Payment Methods'), link: '/my-account/stored-payment-methods' },
        { title: this.$t('My Wishlist'), link: '/my-account/wishlist' },
        { title: this.$t('My Social Accounts'), link: '/my-account/social-accounts' }
      ]
    }
  },
  methods: {
    notify (title) {
      if (title === 'My loyalty card' || title === 'My product reviews') {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'warning',
          message: this.$t('This feature is not implemented yet! Please take a look at https://github.com/DivanteLtd/vue-storefront/issues for our Roadmap!'),
          action1: { label: this.$t('OK') }
        })
      }
    }
  }
}
</script>
