<template>
  <div class="bg-gray-200 header-topbar hidden md:block">
    <div class="container">
      <cms-block :identifier="'header_top'" class="flex text-white text-xs pt-8 pb-8 justify-between leading-19" />
    </div>
  </div>
</template>

<script>
import CmsBlock from 'theme/components/core/blocks/Cms/Block'
export default {
  name: 'HeaderTopbar',
  components: {
    CmsBlock
  }
}
</script>
