<template>
  <button
    type="button"
    class="relative group"
    @click="openMicrocart"
    data-testid="openMicrocart"
    :aria-label="$t('Open microcart')"
  >
    <svg width="24" height="19" viewBox="0 0 24 19" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M20.7992 5.5332H3.19922L4.35711 12.3332L4.9757 15.3605C5.28959 16.8967 6.64101 17.9999 8.20889 17.9999H11.9992H15.7895C17.3574 17.9999 18.7089 16.8967 19.0227 15.3605L19.6413 12.3332L20.7992 5.5332Z" stroke="#222222"/>
      <path d="M8.69922 10.0669L9.79922 14.6002" stroke="#222222" stroke-linecap="round"/>
      <path d="M15.2992 10.0669L14.1992 14.6002" stroke="#222222" stroke-linecap="round"/>
      <path d="M1 5.5332H23" stroke="#222222" stroke-linecap="round"/>
      <path d="M5.40039 5.53333L8.70039 1" stroke="#222222" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M18.5996 5.53333L15.2996 1" stroke="#222222" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <span
      class="minicart-count top-15 md:top-14 font-bold leading-14 text-10 rounded-full right-6 md:right-0 -mr-6 absolute text-center border-box p-0 w-14 h-14 weight-700 text-white bg-orange-dark md:bg-gray-200"
      v-cloak
      v-show="totalQuantity"
      data-testid="minicartCount"
    >
      {{ totalQuantity }}
    </span>
  </button>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import MicrocartIcon from '@vue-storefront/core/compatibility/components/blocks/Header/MicrocartIcon'
import { syncCartWhenLocalStorageChange } from '@vue-storefront/core/modules/cart/helpers'

export default {
  mounted () {
    syncCartWhenLocalStorageChange.addEventListener()
    this.$once('hook:beforeDestroy', () => {
      syncCartWhenLocalStorageChange.removeEventListener()
    })
  },
  computed: {
    ...mapGetters({
      totalQuantity: 'cart/getItemsTotalQuantity'
    })
  },
  methods: {
    ...mapActions({
      openMicrocart: 'ui/toggleMicrocart'
    })
  }
}
</script>
