<template>
<div id="category-listing">
    <header class="bg-white-200 py-35 md:px-20">
      <div class="container">
        <breadcrumbs />
        <div class="flex items-end md:mt-30">
          <h1 class="w-5/6 text-36 md:text-48 m-0 font-semibold"></h1>
          <div class="w-1/6 hidden md:block text-right mb-18">
          <div v-for="filter of filterList" :key="filter.attribute_id">
            <span v-for="(option, index) in filter.options" :key="index">
              <span v-if="filterValue[filter.attribute_code].includes(option.value)">
                {{ filter.frontend_label + ':' + option.label }} 
                <button @click="removeSelectedFilter(filter.attribute_code, option.value)">{{ $t('Remove') }}</button>
              </span>
            </span>
          </div>
            <button @click="resetFilter">{{ $t('Reset All Filter') }}</button>
          <tabs>
          <template v-for="filter of filterList">
            <tab :key="filter.attribute_id" :title="filter.frontend_label">
              <ul class="object administrator-checkbox-list"  :key="filter.attribute_id">
                <li v-for="(option, index) in filter.options" :key="index">
                  <label>
                    <input
                      type="checkbox"
                      v-model="filterValue[filter.attribute_code]"
                      :value="option.value"
                      @change="changeFilter"
                    />
                    <span>{{ option.label }}</span>
                  </label>
                </li>
              </ul>
              </tab>
            </template>
          </tabs>
            <select
              name="sortby"
              class="bg-transparent text-gray-400 border-b border-gray-400 py-10 text-14 md:text-16 w-full md:w-4/5 cursor-pointer"
              v-model="sort"
              @change="changeFilter"
            >
              <option selected="selected" disabled value="">
                {{ $t('Sort By') }}
              </option>
              <option v-for="variant in sortOptions" :value="variant" :key="variant.id">
                {{ $t(variant.label) }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </header>
    <div class="container pb-60">
      <div class="flex pt-15 -mx-10">
        <div class="product-listing flex flex-wrap -mx-10" v-if="subcategoryData.length">
          <div
            v-for="category in subcategoryData"
            :key="category.id"
            :data-testid="category.id"
            class="w-6/12 lg:w-4/12 px-sm"
          >
            <category-tile :category="category" />
          </div>
        </div>
        <div v-else>{{ $t('No Category found') }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import { isServer } from '@vue-storefront/core/helpers'
import { Logger } from '@vue-storefront/core/lib/logger'
import { mapGetters } from 'vuex'
import { catalogHooksExecutors } from '@vue-storefront/core/modules/catalog-next/hooks'
import { htmlDecode } from '@vue-storefront/core/filters'
import Breadcrumbs from '../components/core/Breadcrumbs.vue'
import CategoryTile from "theme/components/core/CategoryTile";
const composeInitialPageState = async (store, route, forceLoad = false) => {
  try {
    // route.params.slug = route.params.slug.replace('.html', '')
    const filters = { url_path: route.fullPath.substring(1) }
    const cachedCategory = store.getters['category-next/getCategoryFrom'](route.path)
    const currentCategory = cachedCategory && !forceLoad ? cachedCategory : await store.dispatch('category-next/loadCategory', { filters })
    const breadCrumbsLoader = store.dispatch('category-next/loadCategoryBreadcrumbs', { category: currentCategory, currentRouteName: currentCategory.name, omitCurrent: true })
    
    if (isServer) await breadCrumbsLoader
    catalogHooksExecutors.categoryPageVisited(currentCategory)
  } catch (e) {
    Logger.error('Problem with setting Category initial data!', 'category', e)()
  }
}

export default {
  components: {
    Breadcrumbs,
    CategoryTile,
    Tabs: () => import(/* webpackChunkName: "bocm-tabs" */ 'theme/components/theme/Tabs.vue'),
    Tab: () => import(/* webpackChunkName: "bocm-single-tab" */ 'theme/components/theme/Tab.vue'),
  },
  data() {
    return {
      filterValue: {},
      sort: '',
      sortOptions: [ 
        { "label": "Price: Low to high", "id": "finalprice", "type": "sort" }, 
        { "label": "Price: High to low", "id": "finalprice:desc", "type": "sort" } 
      ]
    };
  },
  computed: {
    ...mapGetters({
      availableFilters : 'bocmCategory/getAvailableFilters',
      subcategoryData : 'bocmCategory/getSubcategory',
    }),

    getCurrentCategory () {
        return this.$store.getters['category-next/getCategoryByParams']({ url_path: this.$route.fullPath.substring(1) });
    },
    filterList () {
      return this.availableFilters.filter(x => {
        if(x.options && x.options.length > 0) {
          this.$set(this.filterValue, x.attribute_code, [])
          return x.options && x.options.length > 0
        }
        return false
      })
    }
  },
  watch: {
    '$route' () {
      this.changeFilter()
      this.resetFilter()
    }
  },
  async asyncData ({ store, route, context }) { // this is for SSR purposes to prefetch data - and it's always executed before parent component methods
    if (context) context.output.cacheTags.add('category')
    await composeInitialPageState(store, route)
  },
  async beforeRouteEnter (to, from, next) {
    if (isServer) next() // SSR no need to invoke SW caching here
    else if (!from.name) { // SSR but client side invocation, we need to cache products and invoke requests from asyncData for offline support
      next(async vm => {
        vm.loading = true
        await composeInitialPageState(vm.$store, to, true)
        await vm.$store.dispatch('bocmCategory/categoryAttributeList')
        vm.changeFilter()
        vm.loading = false
      })
    } else { // Pure CSR, with no initial category state
      next(async vm => {
        vm.loading = true
        await vm.$store.dispatch('bocmCategory/categoryAttributeList')
        vm.changeFilter()
        vm.loading = false
      })
    }
  },
  methods: {
    async changeFilter (event) {
      await this.$store.dispatch('bocmCategory/list', {category: this.getCurrentCategory, sort: this.sort, filters: this.filterValue })
    },
    resetFilter () {
      this.availableFilters.filter(x => {
        if(x.options && x.options.length > 0) {
          this.$set(this.filterValue, x.attribute_code, [])
          return x.options && x.options.length > 0
        }
        return false
      }),
      this.changeFilter()
    },
    removeSelectedFilter (attribute, value) {
      this.filterValue[attribute] = this.filterValue[attribute].filter(item => item !== value);
      this.changeFilter()
    } 
  },
  metaInfo () {
    const { meta_title, meta_description, name, slug } = this.getCurrentCategory
    const meta = meta_description ? [
      { vmid: 'description', name: 'description', content: htmlDecode(meta_description) }
    ] : []

    return {
      title: htmlDecode(meta_title || name),
      meta
    }
  }
}
</script>
