<template>
  <div id="cms-page">
    <header class="bg-gray-200 py-35 pl-20">
      <div class="container">
        <h1 class="my-25">
          {{ cmsPageContent.title }}
        </h1>
      </div>
    </header>
    <div class="container py-50" v-html="cmsPageContent.content" />
  </div>
</template>

<script>
import CmsPage from '@vue-storefront/core/pages/CmsPage'

export default {
  computed: {
    cmsPageContent () {
      return this.$store.state.cmsPage.current
    }
  },
  mixins: [CmsPage]
}
</script>
