<template>
  <div id="product">
    <section class="bg-white-200 product-top-section">
      <div class="container">
        <breadcrumbs
          active-route="Contact"
        />
        <div class="flex -mx-10">
          <div class="w-6/12 pt50 px-10">
            <form action="#" @submit.prevent="contactus" class="contact-us-form">
              <base-input
                class="mt22"
                type="text"
                name="name"
                v-model="formData.name"
                @blur="$v.formData.name.$touch()"
                :placeholder="$t('Name')"
                :validations="[
                  {
                    condition: !$v.formData.name.required && $v.formData.name.$error,
                    text: $t('This is a required field.')
                  },
                  {
                    condition: !$v.formData.name.minLength,
                    text: $t('Name must have at least 2 letters.')
                  }
                ]"
              />
              <br>
              <base-input
                type="text"
                name="phone"
                class="mt22"
                v-model="formData.phone"
                @blur="$v.formData.phone.$touch()"
                :placeholder="$t('Phone')"
                :validations="[
                  {
                    condition: !$v.formData.phone.required && $v.formData.phone.$error,
                    text: $t('This is a required field.')
                  },
                  {
                    condition: !$v.formData.phone.minLength,
                    text: $t('Please enter only 10 digit phone numbers.')
                  }
                ]"
              />
              <br>
              <base-input
                type="email"
                name="email"
                class="mt22"
                v-model="formData.email"
                @blur="$v.formData.email.$touch()"
                :placeholder="$t('Email')"
                :validations="[
                  {
                    condition: !$v.formData.email.required && $v.formData.email.$error,
                    text: $t('This is a required field.')
                  },
                  {
                    condition: !$v.formData.email.email && $v.formData.email.$error,
                    text: $t('Please provide valid e-mail address.')
                  }
                ]"
              />
              <br>
              <base-textarea
                class="mt22 mb15"
                type="text"
                name="comment"
                v-model="formData.comment"
                @blur="$v.formData.comment.$touch()"
                :placeholder="$t('Message')"
                :validations="[
                  {
                    condition: $v.formData.comment.$error && !$v.formData.comment.required,
                    text: $t('This is a required field.')
                  }
                ]"
              />
              <button-full type="submit" class="uppercase">
                {{ $t('Send Message') }}
              </button-full>
            </form>
          </div>
          <div class="w-6/12 pt50 px-10">
            <cms-block :identifier="'contact-details-content'" />
          </div>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3304.029964497226!2d-118.0845989843481!3d34.09437282295521!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2daeecf154701%3A0xbabad15649dbd101!2s5118%20Walnut%20Grove%20Ave%2C%20San%20Gabriel%2C%20CA%2091776%2C%20USA!5e0!3m2!1sen!2sin!4v1634808598338!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" />
      </div>
    </section>
  </div>
</template>

<script>
import BaseInput from 'theme/components/core/blocks/Form/BaseInput.vue'
import BaseTextarea from 'theme/components/core/blocks/Form/BaseTextarea'
import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import { required, email, minLength, sameAs } from 'vuelidate/lib/validators'
import i18n from '@vue-storefront/i18n'
import { unicodeAlphaNum } from '@vue-storefront/core/helpers/validators'
import Breadcrumbs from 'theme/components/core/Breadcrumbs.vue'
import CmsBlock from 'theme/components/core/blocks/Cms/Block'
import { registerModule } from '@vue-storefront/core/lib/modules'
import { ContactUsModule } from 'src/modules/bocm/contact-us'

export default {
  validations: {
    formData: {
      name: {
        minLength: minLength(2),
        required
      },
      phone: {
        minLength: minLength(10),
        required,
        unicodeAlphaNum
      },
      email: {
        required,
        email
      },
      comment: {
        required
      }
    }
  },
  props: {
    title: {
      type: String,
      required: true
    }
  },
  beforeCreate () {
    registerModule(ContactUsModule)
  },
  components: {
    BaseInput,
    BaseTextarea,
    ButtonFull,
    Breadcrumbs,
    CmsBlock
  },
  data () {
    return {
      formData: {
        name: '',
        email: '',
        phone: '',
        comment: ''
      }
    }
  },
  methods: {
    contactus () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.submit()
      } else {
        return false
      }
    },
    submit () {
      this.$store.dispatch('contact-us/add', {
        'subscriber': {
          'name': this.formData.name,
          'email': this.formData.email,
          'telephone': this.formData.phone,
          'comment': this.formData.comment
        }
      }).then(res => {
        if (res.code === 200) {
          this.$bus.$emit('clear-add-contact-form')
          this.$store.dispatch('notification/spawnNotification', {
            type: 'success',
            message: this.$t('Thanks for contacting us with your comments and questions. We\'ll respond to you very soon.'),
            action1: { label: this.$t('OK') }
          })
        } else {
          this.$store.dispatch('notification/spawnNotification', {
            type: 'error',
            message: i18n.t('Something went wrong. Try again in a few seconds.'),
            action1: { label: i18n.t('OK') }
          })
        }
      })
    },
    clearContactForm () {
      this.formData.name = ''
      this.formData.email = ''
      this.formData.phone = ''
      this.formData.comment = ''
      this.$v.$reset()
    }
  },
  metaInfo () {
    return {
      title: 'Contact Form',
      meta: !this.$route.meta.description ? [{ vmid: 'description', name: 'description', content: 'Contact Form' }] : []
    }
  },
  mounted () {
    this.$bus.$on('clear-add-contact-form', this.clearContactForm)
  },
  destroyed () {
    this.$bus.$off('clear-add-contact-form', this.clearContactForm)
  }
}
</script>
