<template>
  <div id="my_account">
    <div class="text-center" v-if="routeLoading && loading && !isLoggedIn">
      <div class="site-ajax-loader" />
    </div>
    <div v-else>
      <div class="container text-left text-base pt-50 md:pt-0 md:pb-80 relative">
        <breadcrumbs
          :with-homepage="true"
          :active-route="activeBreadcrumb.title"
          :routes="[{name: $t('My Account'), route_link: localizedRoute('/my-account')}]"
        />
        <div class="flex my_account_row">
          <div class="my_account_left absolute md:relative w-full md:w-auto left-0 top-0 bg-white z-1">
            <div class="border border-gray-500 md:rounded-lg">
              <div
                class="mobile-static-menu block md:hidden"
                @click="openbox(1)"
                :class="{ active: boxactive }"
              >
                <span class="flex align-items px-15 py-14" :class="mobileActiveMenuIconClass">
                  {{ activeBreadcrumb.title }}
                  <svg
                    class="rightarrow ml-auto absolute right-20 top-20"
                    width="8"
                    height="14"
                    viewBox="0 0 8 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 13L7 7L1 1"
                      stroke="#888888"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                  <svg
                    class="bottomarrow ml-auto absolute right-20 top-22 hidden"
                    width="14"
                    height="8"
                    viewBox="0 0 14 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 1L7 7L13 1"
                      stroke="#888888"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
              </div>
              <ul class="border-t md:border-0 border-gray-500 m-0 p-0 list-none static-menu hidden md:block" @click="openbox(1)" :class="{ active: boxactive }">
                <li class="my-10"
                    v-for="(page, index) in navigation"
                    :key="index"
                    :class="page.class"
                >
                  <router-link
                    :to="page.link"
                    @click.native="
                      updatedMobileMenuTxt(page.title, page.class, page.icon)
                    "
                    @click="openbox(1)"
                    :class="{ 'active' : boxactive, 'router-link-exact-active' : page.link.includes('/orders') === $route.path.includes('/orders') && $route.path.includes('/orders') === true }"
                    class="text-gray-600 border-l-2 border-transparent text-base px-15 py-9 md:px-20 block"
                  >
                    {{ page.title }}
                  </router-link>
                </li>
              </ul>
            </div>
          </div>
          <div class="w-full my_account_right md:pl-40">
            <no-ssr>
              <component :is="this.$props.activeBlock" />
            </no-ssr>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MyAccount from '@vue-storefront/core/pages/MyAccount'
import Breadcrumbs from '../components/core/Breadcrumbs'
import MyProfile from '../components/core/blocks/MyAccount/MyProfile'
import MyShippingDetails from '../components/core/blocks/MyAccount/MyShippingDetails'
import MyWishlist from '../components/core/blocks/MyAccount/MyWishlist'
import MyNewsletter from '../components/core/blocks/MyAccount/MyNewsletter'
import MyOrders from '../components/core/blocks/MyAccount/MyOrders'
import MyOrder from '../components/core/blocks/MyAccount/MyOrder'
import NoSSR from 'vue-no-ssr'
import { RecentlyViewedModule } from '@vue-storefront/core/modules/recently-viewed'
import { registerModule } from '@vue-storefront/core/lib/modules'
import { currentStoreView, localizedRoute } from '@vue-storefront/core/lib/multistore'
import config from 'config'

async function checkUserLoggedIn (cb) {
  await cb()
}
export default {
  data () {
    return {
      loading: true,
      navigation: [
        { title: this.$t('My profile'), link: this.localizedRoute('/my-account') },
        { title: this.$t('My Address Book'), link: this.localizedRoute('/my-account/shipping-details') },
        { title: this.$t('NewsLetter'), link: this.localizedRoute('/my-account/newsletter') },
        { title: this.$t('My Order'), link: '/my-account/orders' },
        { title: this.$t('Stored Payment Methods'), link: this.localizedRoute('/my-account') },
        { title: this.$t('My Wishlist'), link: this.localizedRoute('/my-account/wishlist') },
        { title: this.$t('My Social Accounts'), link: this.localizedRoute('/my-account/social-accounts') }
      ],
      boxactive: false,
      isActive: false,
      mobileActiveMenuTxt: this.$t('My profile'),
      loadMyAccountMenuPopup: false,
      mobileActiveMenuIconClass: 'profile-icon',
      activeBreadcrumb: this.$t('My profile'),
      routeLoading: true
    }
  },
  components: {
    Breadcrumbs,
    MyProfile,
    MyShippingDetails,
    MyNewsletter,
    MyWishlist,
    MyOrders,
    MyOrder,
    'no-ssr': NoSSR
  },
  watch: {
    $route (to, from) {
      this.breadcrumbTitle(to.path);
    }
  },
  computed: {
    storeView () {
      return this.curre
    },
    isLoggedIn () {
      return this.$store.getters['user/isLoggedIn']
    }
  },
  async beforeRouteEnter (to, from, next) {
    next(vm => {
      if (vm.isLoggedIn) {
        vm.routeLoading = false
        next()
      } else {
        next(localizedRoute('/', currentStoreView().storeCode))
      }
    })
  },
  beforeCreate () {
    registerModule(RecentlyViewedModule);
  },
  mixins: [MyAccount],
  mounted () {
    this.breadcrumbTitle(this.$router.history.current.path)
    const navigation = this.navigation;
    navigation.forEach((nav) => {
      if (nav.link === this.$router.history.current.path) {
        this.breadcrumbTitle(this.$router.history.current.path)
        this.mobileActiveMenuTxt = nav.title;
        this.mobileActiveMenuIconClass = nav.class;
      }
    });
    this.$bus.$on(
      'my-account-menu-clicked',
      (menutext, menuClass, menuIcon) => {
        this.updatedMobileMenuTxt(menutext, menuClass, menuIcon);
      }
    );
  },
  methods: {
    breadcrumbTitle (pagePath) {
      let activeNav = this.navigation.find(page => page.link === pagePath);
      if (activeNav === undefined) {
        if (pagePath.includes('/my-account/orders/')) {
          activeNav = {
            title: this.$t('My order'),
            // title: this.$t('My order / {order}', { order: pagePath.split('/').pop() }),
            link: this.$route.path
          }
        } else if (pagePath.includes('/my-account/my-returns/')) {
          activeNav = {
            title: this.$t('My Returns'),
            // title: this.$t('My order / {order}', { order: pagePath.split('/').pop() }),
            link: this.$route.path
          }
        } else if (pagePath.includes('/my-order-returns-request/')) {
          activeNav = {
            title: this.$t('My Returns'),
            // title: this.$t('My order / {order}', { order: pagePath.split('/').pop() }),
            link: this.$route.path
          }
        }
      }
      this.activeBreadcrumb = activeNav;
    },
    openbox (index) {
      this.boxactive = !this.boxactive;
    },
    active: function () {
      this.isActive = !this.isActive;
    },
    updatedMobileMenuTxt (mobilemenutxt, mobilemenuclass) {
      this.mobileActiveMenuTxt = mobilemenutxt;
      this.mobileActiveMenuIconClass = mobilemenuclass;
    },
    showMyAccountMenuPopup () {
      this.$bus.$emit('modal-myaccountmenu');
    }
  },
  metaInfo () {
    return {
      title: this.$route.meta.title || this.$i18n.t('My Account'),
      meta: [
        { vmid: 'keywords', name: 'keywords', content: this.$i18n.t('Magento, Varien, E-commerce') },
        { vmid: 'title', name: 'title', content: this.$i18n.t('My Account') }
      ],
      link: [{ rel: 'canonical', href: config.bocm.storeUrl + this.$router.currentRoute.path }]
    }
  }
}
</script>

<style lang="scss">
#my_account {
  .site-ajax-loader{
    padding: 250px 0;
  }
  .my_account_left{
     width: 244px;
     @media (max-width: 767px){
       width: 100%;
     }
  }
  .my_account_right{
     width: calc(100% - 244px);
  }
}
</style>
