<template>
  <div id="page_not_found">
    <section class="py-15 md:py-30">
      <div class="container text-center">
        <div class="page_not_found relative bg-cover text-white flex items-center flex-wrap flex-col justify-center">
          <h2 class="mb-10 mt-0 relative z-1">
            {{ "404" }}
          </h2>
          <p class="text-18 leading-20 md:text-xl p-0 relative z-1 md:leading-35">
            {{ "Sorry, we were unable to find that page" }}
          </p>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { Logger } from '@vue-storefront/core/lib/logger'
import i18n from '@vue-storefront/i18n'
export default {
  name: 'PageNotFound',
  async asyncData ({ store, route, context }) {
    Logger.log('Entering asyncData for PageNotFound ' + new Date())()
    if (context) {
      context.output.cacheTags.add(`page-not-found`)
      context.server.response.statusCode = 404
    }
  },
  metaInfo () {
    return {
      title: this.$route.meta.title || i18n.t('404 Page Not Found'),
      meta: this.$route.meta.description ? [{ vmid: 'description', name: 'description', content: this.$route.meta.description }] : []
    }
  }
}
</script>

<style lang="scss" scoped>
  #page_not_found {
    .page_not_found{
      background: url(~theme/assets/errorimg-min.jpg) no-repeat ;
      background-size: cover;
      &::after{
        background-color: rgba(0, 0, 0, 0.7);
        height: 100%;
        width: 100%;
        left: 0;
        top:0;
        content: '';
        display: block;
        position: absolute;
      }
      h2{
        font-size: 100px;
        line-height: 132px;
      }
      padding: 17% 20px;
      @media (max-width:767px) {
        padding:25% 20px;
        h2{
          font-size:50px;
          line-height:60px;
        }
      }
    }
  }
</style>
