<template>
  <div class="container">
    <breadcrumbs
      :with-homepage="true"
      :routes="[]"
      active-route="Current Sale"
      class="leading-18"
    />
    <cms-block :identifier="'current-sale-header-content'" />
    <div class="columns pb-20 sm:pb-80">
      <div class="current-sale-layout">
        <div class="group-filter" data-role="group-filter" />
        <div class="group-list" data-role="group-list">
          <div class="crs-group" data-role="crs-group" v-for="(group, index) in getGroupsSaletrip" :key="index">
            <div class="crs-header bg-gray-100 border-gray-500 border p-13 sm:flex justify-content items-center mt-20 sm:mt-40 mb-20">
              <div class="crs-title text-md font-medium pb-10 sm:pb-0">
                <label v-if="group.options && group.options.group_title">{{ group.options.group_title }}</label>
                <span class="text-orange-dark" v-if="group.options && group.options.discount_amount">{{ group.options.discount_amount }}</span>
              </div>
              <div class="crs-promo-code ml-auto flex justify-content items-center" v-if="group.options && group.options.promo_code">
                <div class="sub-title text-sm mr-10 font-medium">
                  {{ $t('Use pro code') }}
                </div>
                <input :id="`promo${index}`" :value="group.options.promo_code" class="promo-text-box border-black-500 h-40 text-center text-base md:text-sm border p-8">
                <button @click="copyPromoCode(`promo${index}`)" class="h-40 bg-black w-40 text-center hover:bg-gray-200">
                  <svg width="24" class="inline-block" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="8" y="7" width="12" height="14" rx="1" stroke="white" stroke-linejoin="round" />
                    <path d="M4 17C4 17 4 7.26335 4 3.99469C4 3.4424 4.44772 3 5 3H16" stroke="white" stroke-linecap="round" />
                  </svg>
                </button>
              </div>
            </div>
            <div class="crs-body">
              <div class="sub-cat-container sale-listing flex flex-wrap">
                <div v-for="(category, catIndex) in getCategory(group)" :key="catIndex" class="-mb-1 sub-cat-coll w-6/12 lg:w-3/12  bg-white border border-l-0 border-gray-500 p-10">
                  <category-tile :category="category" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CmsBlock from 'theme/components/core/blocks/Cms/Block'
import Breadcrumbs from '../components/core/Breadcrumbs'
import { isServer } from '@vue-storefront/core/helpers'
import { Logger } from '@vue-storefront/core/lib/logger'
import CategoryTile from 'src/modules/bocm/current-sale/components/CategoryTile.vue'
import { mapGetters } from 'vuex'

const composeInitialPageState = async (store, route, forceLoad = false) => {
  try {
    await store.dispatch('current-sale/list', { filterField: 'push_live', filterValues: true });
  } catch (e) {
    Logger.error('Problem with setting Current sale initial data!', 'current-sale', e)()
  }
}

let interval = null;
export default {
  name: 'Promotional',
  components: {
    Breadcrumbs,
    CmsBlock,
    CategoryTile
  },
  data () {
    return {
      now: Math.trunc((new Date()).getTime() / 1000),
      date: null,
      diff: 0
    }
  },
  created () {
    if (this.getDeadlineDate) {
      this.date = Math.trunc(Date.parse(this.getDeadlineDate.replace(/-/g, '/')) / 1000);
    }
    interval = setInterval(() => {
      this.now = Math.trunc((new Date()).getTime() / 1000);
    }, 1000);
  },
  watch: {
    now (value) {
      this.diff = this.date - this.now;
      if (this.diff <= 0) {
        this.diff = 0;
        // Remove interval
        clearInterval(interval);
      }
      this.getSalesCount();
    }
  },
  computed: {
    ...mapGetters({
      getGroupsList: 'current-sale/getGroupsList'
    }),
    getDeadlineDate () {
      return this.getGroupsList.sale_end_date ? this.getGroupsList.sale_end_date : null
    },
    getGroupsSaletrip () {
      return this.getGroupsList.structure ? this.getGroupsList.structure : [];
    },
    seconds () {
      return Math.trunc(this.diff) % 60
    },
    minutes () {
      return Math.trunc(this.diff / 60) % 60
    },
    hours () {
      return Math.trunc(this.diff / 60 / 60) % 24
    },
    days () {
      return Math.trunc(this.diff / 60 / 60 / 24)
    }
  },
  async asyncData ({ store, route, context }) { // this is for SSR purposes to prefetch data - and it's always executed before parent component methods
    await composeInitialPageState(store, route)
  },
  async beforeRouteEnter (to, from, next) {
    if (isServer) next() // SSR no need to invoke SW caching here
    else if (!from.name) { // SSR but client side invocation, we need to cache products and invoke requests from asyncData for offline support
      next(async vm => {
        vm.loading = true
        await composeInitialPageState(vm.$store, to, true)
        vm.loading = false
      })
    } else { // Pure CSR, with no initial category state
      next(async vm => {
        vm.loading = true
        vm.loading = false
      })
    }
  },
  methods: {
    copyPromoCode (catId) { //  either HTTPS or localhost
      const input = document.getElementById(catId)
      input.select();
      input.setSelectionRange(0, 99999);
      navigator.clipboard.writeText(input.value);
    },
    getCategory (group) {
      if (group.options && group.options.categories && group.options.categories.length > 0) {
        return group.options.categories;
      }
      return group.subcats;
    },
    getSalesCount () {
      document.getElementById('days').innerHTML = this.days
      document.getElementById('hours').innerHTML = this.hours
      document.getElementById('minutes').innerHTML = this.minutes
      document.getElementById('seconds').innerHTML = this.seconds
    }
  },
  destroyed () {
    clearInterval(interval);
  }
}
</script>
<style scoped>
.promo-text-box{width: 120px;}
</style>
<style lang="scss">
.summar-sale-banner {
  padding-top: 42.7%;
  min-height: 529px;
}
.summar-sale-banner-text{
  width: 550px;
  @media (max-width:767px) {
    width:84%;
  }
}
.vuejs-countdown li{
  width: 60px;
  height: 60px;
  border-radius: 10px;
}
</style>
