<template>
  <div>
    <div class="py-35 pl-20">
      <div class="container">
        <breadcrumbs :with-homepage="true" :routes="[]" :active-route="$props.title" />
        <h2 class="my-25">
          {{ $props.title }}
        </h2>
      </div>
    </div>

    <div class="container pt-45 pb-70">
      <div class="md:flex">
        <div class="w-12/12  md:w-3/12  pr-15">
          <nav class="static-menu mb-35">
            <ul class="m-0 p-0">
              <li class="mb-10 font-playfair text-md" v-for="element in navigation" :key="element.id">
                <router-link :to="localizedRoute(element.link)" class="relative hover:no-underline underline text-gray-400">
                  {{ element.title }}
                </router-link>
              </li>
            </ul>
          </nav>
        </div>
        <div class="static-content h4 lh35 w-12/12 md:w-9/12 md:pl-15">
          <component :is="activeComponent" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import i18n from '@vue-storefront/i18n'
import Breadcrumbs from 'theme/components/core/Breadcrumbs'
import StaticExample from 'theme/components/theme/blocks/Static/Example'
import StaticShortExample from 'theme/components/theme/blocks/Static/Short'
import { getPathForStaticPage } from 'theme/helpers'
import { localizedRoute } from '@vue-storefront/core/lib/multistore'

export default {
  components: {
    Breadcrumbs
  },
  metaInfo () {
    return {
      title: this.$route.meta.title || this.$props.title,
      meta: this.$route.meta.description ? [{ vmid: 'description', description: this.$route.meta.description }] : []
    }
  },
  props: {
    title: {
      type: String,
      required: true
    },
    page: {
      type: String,
      required: true
    }
  },
  computed: {
    activeComponent () {
      const matchedNav = this.navigation.find(nav => nav.link.includes(this.$route.path))
      return matchedNav ? matchedNav.component : null
    }
  },
  data () {
    return {
      navigation: [
        { title: i18n.t('About us'), link: getPathForStaticPage('/about-us'), component: StaticExample },
        { title: i18n.t('Customer service'), link: getPathForStaticPage('/customer-service'), component: StaticShortExample },
        { title: i18n.t('Store locator'), link: localizedRoute('/store-locator'), component: StaticExample },
        { title: i18n.t('Delivery'), link: '/delivery', component: StaticShortExample },
        { title: i18n.t('Return policy'), link: '/returns', component: StaticExample },
        { title: i18n.t('Privacy policy'), link: '/privacy', component: StaticShortExample },
        { title: i18n.t('Size guide'), link: '/size-guide', component: StaticExample }
      ]
    }
  }
}
</script>
