<template>
  <div class="pt-20">
    <div class="flex">
      <div class="w-25 md:w-1/12 relative z-1 -mr-25 md:mr-0">
        <div
          class="w-25 h-25 md:w-35 md:h-35 leading-25 md:leading-35 rounded-full text-center text-white md:font-bold"
          :class="{ 'bg-gray-600' : isActive || isFilled, 'bg-gray-700' : !isFilled && !isActive }"
        >
          2
        </div>
      </div>
      <div class="w-full md:w-11/12">
        <div class="md:flex mb-20 justify-between pl-35 md:pl-0">
          <div class="" :class="{ 'text-gray-500' : !isFilled && !isActive }">
            <h3 class="m-0 leading-normal">
              {{ $t('Shipping') }}
            </h3>
          </div>
          <div class="md:pl-30">
            <div class="flex" v-if="isFilled && !isActive">
              <a href="#" class="flex text-gray-500" @click.prevent="edit">
                <span class="pr-5">
                  {{ $t('Edit shipping') }}
                </span>
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#bdbdbd">
                  <path d="M0 0h24v24H0z" fill="none" />
                  <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z" />
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="md:flex md:flex-wrap" v-if="isActive">
          <base-checkbox
            v-if="currentUser && hasShippingDetails()"
            class="w-full mb-35"
            id="shipToMyAddressCheckbox"
            v-model="shipToMyAddress"
          >
            {{ $t('Ship to my default address') }}
          </base-checkbox>

          <base-input
            class="w-full md:w-6/12 mb-35 md:pr-15"
            type="text"
            name="first-name"
            :placeholder="$t('First name *')"
            v-model.trim="shipping.firstName"
            @blur="$v.shipping.firstName.$touch()"
            autocomplete="given-name"
            :validations="[
              {
                condition: $v.shipping.firstName.$error && !$v.shipping.firstName.required,
                text: $t('Field is required.')
              },
              {
                condition: !$v.shipping.firstName.minLength,
                text: $t('Name must have at least 2 letters.')
              }
            ]"
          />

          <base-input
            class="w-full md:w-6/12 mb-35 md:pl-15"
            type="text"
            name="last-name"
            :placeholder="$t('Last name *')"
            v-model.trim="shipping.lastName"
            @blur="$v.shipping.lastName.$touch()"
            autocomplete="family-name"
            :validations="[{
              condition: $v.shipping.lastName.$error && !$v.shipping.lastName.required,
              text: $t('Field is required.')
            }]"
          />

          <base-input
            class="w-full md:w-6/12 mb-35 md:pr-15"
            type="text"
            name="street-address"
            :placeholder="$t('Street name *')"
            v-model.trim="shipping.streetAddress"
            @blur="$v.shipping.streetAddress.$touch()"
            autocomplete="address-line1"
            :validations="[{
              condition: $v.shipping.streetAddress.$error && !$v.shipping.streetAddress.required,
              text: $t('Field is required.')
            }]"
          />

          <base-input
            class="w-full md:w-6/12 mb-35 md:pl-15"
            type="text"
            name="apartment-number"
            :placeholder="$t('House/Apartment number *')"
            v-model.trim="shipping.apartmentNumber"
            @blur="$v.shipping.apartmentNumber.$touch()"
            autocomplete="address-line2"
            :validations="[{
              condition: $v.shipping.apartmentNumber.$error && !$v.shipping.apartmentNumber.required,
              text: $t('Field is required.')
            }]"
          />

          <base-input
            class="w-full md:w-6/12 mb-35 md:pr-15"
            type="text"
            name="city"
            :placeholder="$t('City *')"
            v-model.trim="shipping.city"
            @blur="$v.shipping.city.$touch()"
            autocomplete="address-level2"
            :validations="[
              {
                condition: $v.shipping.city.$error && !$v.shipping.city.required,
                text: $t('Field is required.')
              },
              {
                condition: $v.shipping.city.$error && $v.shipping.city.required,
                text: $t('Please provide valid city name.')
              }
            ]"
          />

          <base-input
            class="w-full md:w-6/12 mb-35 md:pl-15"
            type="text"
            name="state"
            :placeholder="$t('State / Province')"
            v-model.trim="shipping.state"
            autocomplete="address-level1"
          />

          <base-input
            class="w-full md:w-6/12 mb-35 md:pr-15"
            type="text"
            name="zip-code"
            :placeholder="$t('Zip-code *')"
            v-model.trim="shipping.zipCode"
            @blur="$v.shipping.zipCode.$touch()"
            autocomplete="postal-code"
            :validations="[
              {
                condition: $v.shipping.zipCode.$error && !$v.shipping.zipCode.required,
                text: $t('Field is required.')
              },
              {
                condition: !$v.shipping.zipCode.minLength,
                text: $t('Name must have at least 3 letters.')
              }
            ]"
          />

          <base-select
            class="w-full md:w-6/12 mb-35 md:pl-15"
            name="countries"
            :options="countryOptions"
            :selected="shipping.country"
            :placeholder="$t('Country *')"
            :validations="[
              {
                condition: $v.shipping.country.$error && !$v.shipping.country.required,
                text: $t('Field is required.')
              }
            ]"
            v-model="shipping.country"
            autocomplete="country-name"
            @blur="$v.shipping.country.$touch()"
            @change.native="$v.shipping.country.$touch(); changeCountry();"
          />

          <base-input
            class="w-full mb-35"
            type="text"
            name="phone-number"
            :placeholder="`${$t('Phone Number')} *`"
            v-model.trim="shipping.phoneNumber"
            :validations="[
              {
                condition: $v.shipping.phoneNumber.$error && !$v.shipping.phoneNumber.required,
                text: $t('Field is required.')
              }
            ]"
            autocomplete="tel"
            @blur="$v.shipping.phoneNumber.$touch()"
          />

          <h4 class="w-full mt-0 pt-0 md:pt-25">
            {{ $t('Shipping method') }}
          </h4>
          <div v-for="(method, index) in shippingMethods" :key="index">
            <label class="radioStyled"> {{ method.method_title }} | {{ method.amount | price(storeView) }}
              <input
                class=""
                type="radio"
                :value="method.method_code"
                name="shipping-method"
                v-model="shipping.shippingMethod"
                @change="$v.shipping.shippingMethod.$touch(); changeShippingMethod();"
              >
              <span class="checkmark" />
            </label>
          </div>
          <span class="validation-error" v-if="$v.shipping.shippingMethod.$error && !$v.shipping.shippingMethod.required">
            {{ $t('Field is required.') }}
          </span>
        </div>
        <div class="w-full md:w-8/12 my-30" v-if="isActive">
          <button-full
            data-testid="shippingSubmit"
            @click.native="sendDataToCheckout"
            :disabled="$v.shipping.$invalid || shippingMethods.length <= 0"
          >
            {{ $t('Continue to payment') }}
          </button-full>
        </div>
        <div class="mb-35" v-if="!isActive && isFilled" data-testid="shippingAddressSummary">
          <p>
            {{ shipping.firstName }} {{ shipping.lastName }}
          </p>
          <p>
            {{ shipping.streetAddress }} {{ shipping.apartmentNumber }}
          </p>
          <p>
            {{ shipping.city }} {{ shipping.zipCode }}
          </p>
          <p>
            <span v-if="shipping.state">{{ shipping.state }}, </span>
            <span>{{ getCountryName() }}</span>
          </p>
          <div class="flex" v-if="shipping.phoneNumber">
            <span class="pr-10">{{ shipping.phoneNumber }}</span>
            <tooltip>{{ $t('Phone number may be needed by carrier') }}</tooltip>
          </div>
          <div class="w-full">
            <h4>
              {{ $t('Shipping method') }}
            </h4>
          </div>
          <div class="mb-15">
            <label class="radioStyled"> {{ getShippingMethod().method_title }} | {{ getShippingMethod().amount | price(storeView) }}
              <input type="radio" value="" checked disabled name="chosen-shipping-method">
              <span class="checkmark" />
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { required, minLength } from 'vuelidate/lib/validators'
import { unicodeAlpha, unicodeAlphaNum } from '@vue-storefront/core/helpers/validators'
import { Shipping } from '@vue-storefront/core/modules/checkout/components/Shipping'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'

import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput'
import BaseSelect from 'theme/components/core/blocks/Form/BaseSelect'
import ButtonFull from 'theme/components/theme/ButtonFull'
import Tooltip from 'theme/components/core/Tooltip'

export default {
  components: {
    ButtonFull,
    Tooltip,
    BaseCheckbox,
    BaseInput,
    BaseSelect
  },
  mixins: [Shipping],
  computed: {
    countryOptions () {
      return this.countries.map((item) => {
        return {
          value: item.code,
          label: item.name
        }
      })
    },
    storeView () {
      return currentStoreView()
    }
  },
  validations: {
    shipping: {
      firstName: {
        required,
        minLength: minLength(2),
        unicodeAlpha
      },
      lastName: {
        required,
        unicodeAlpha
      },
      country: {
        required
      },
      phoneNumber: {
        required
      },
      streetAddress: {
        required,
        unicodeAlphaNum
      },
      apartmentNumber: {
        required,
        unicodeAlphaNum
      },
      shippingMethod: {
        required
      },
      zipCode: {
        required,
        minLength: minLength(3),
        unicodeAlphaNum
      },
      city: {
        required,
        unicodeAlpha
      }
    }
  }
}
</script>
