<template>
  <section class="home-slides mb50 w-full relative skeleton-image select-none overflow-hidden">
    <div class="swiper-slider-wrap absolute left-0 top-0 w-full h-full">
      <div v-swiper="swiperOption" :instance-name="sliderId">
        <div class="swiper-wrapper">
          <div class="swiper-slide hover-on-product" v-for="(slide, index) in bannerData" :key="index">
            <router-link :to="localizedRoute(slide.link)">
              <img :src="!isMobile ? slide.image : slide.mobile_image" :alt="slide.title" class="block w-full max-w-full object-cover h-full" width="1050" height="450">
            </router-link>
          </div>
        </div>
      </div>
    </div>
    <div :id="sliderId + '-button-prev'" class="w-24 h-24 sm:w-35 sm:h-35 bg-white cursor-pointer justify-center swiper-button-prev items-center button-prev text-center left-10 md:left-20 absolute flex z-10 top-0 bottom-0 m-auto rounded-full" slot="">
      <svg class="w-7 md:w-9 h-13 md:h-15" width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8 0.5L1 7.5L8 14.5" stroke="#222222" />
      </svg>
    </div>
    <div :id="sliderId + '-button-next'" class="w-24 h-24 sm:w-35 sm:h-35 bg-white items-center cursor-pointer justify-center swiper-button-next button-next text-center right-10 md:right-20 absolute flex z-10 top-0 bottom-0 m-auto rounded-full" slot="">
      <svg class="w-7 md:w-9 h-13 md:h-15" width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 0.5L8 7.5L1 14.5" stroke="#222222" />
      </svg>
    </div>
  </section>
</template>
<script>
import SwiperCore, { Navigation } from 'swiper';
import { Swiper, SwiperSlide, directive } from 'vue-awesome-swiper'
import 'swiper/swiper.scss'

SwiperCore.use([Navigation]);

export default {
  name: 'MainSlider',
  props: {
    bannerData: {
      type: Array,
      default: () => []
    },
    sliderId: {
      type: String,
      default: 'homepage-banners'
    }
  },
  data () {
    return {
      isMobile: false,
      swiperOption: {
        spaceBetween: 0,
        slidesPerView: 1,
        loop: true,
        observer: true,
        observeParents: true,
        resizeObserver: true,
        navigation: {
          nextEl: ('#' + this.sliderId + '-button-next'),
          prevEl: ('#' + this.sliderId + '-button-prev')
        }
      }
    };
  },
  directives: {
    swiper: directive
  },
  mounted () {
    this.checkIsMobileView()
    window.addEventListener('resize', this.checkIsMobileView)
  },
  methods: {
    checkIsMobileView () {
      this.isMobile = window.innerWidth <= 767
    }
  },
  metaInfo () {
    let links = []
    if (this.bannerData && this.bannerData.length > 0) {
      this.bannerData.map(banner => links.push(
        { rel: 'preload', as: 'image', href: !this.isMobile ? banner.image : '' },
        { rel: 'preload', as: 'image', href: this.isMobile ? banner.mobile_image : '' }
      ))
    }
    return {
      link: links
    }
  }
};
</script>

<style lang="scss">
section.home-slides {
  width: 74.5%;
  padding-top: 450px;
  .swiper-slider-wrap, .swiper-container, .swiper-wrapper {
    height: 100%;
  }
  @media only screen and (min-width: 992px) and (max-width: 1470px) {
    padding-top: 31.5%;
  }
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
      width: 70%;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    padding-top: 42.5%;
  }
  @media (max-width: 767px) {
    padding-top: 75%;
  }
}
</style>
