<template>
  <div class="bg-gray-300 ml-20 banner-content text-center relative overflow-hidden">
    <div :id="sliderId + '-button-prev'" class="w-24 h-24 sm:w-35 sm:h-35 bg-white cursor-pointer justify-center swiper-button-prev items-center button-prev text-center left-10 absolute flex z-10 top-0 bottom-0 m-auto rounded-full" slot="button-prev">
      <svg class="w-7 md:w-9 h-13 md:h-15" width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8 0.5L1 7.5L8 14.5" stroke="#222222"/>
      </svg>
    </div>
    <div :id="sliderId + '-button-next'" class="w-24 h-24 sm:w-35 sm:h-35 bg-white items-center cursor-pointer justify-center swiper-button-next button-next text-center right-10 absolute flex z-10 top-0 bottom-0 m-auto rounded-full" slot="button-next">
      <svg class="w-7 md:w-9 h-13 md:h-15" width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 0.5L8 7.5L1 14.5" stroke="#222222"/>
      </svg>
    </div>
    <div class="swiper-slider-wrap">
      <cms-block v-swiper="swiperOption" :instance-name="sliderId" :identifier="'home_banner-content'" />
    </div>
  </div>
</template>

<script>
import CmsBlock from 'theme/components/core/blocks/Cms/Block'
import { Swiper, SwiperSlide, directive } from 'vue-awesome-swiper'
import 'swiper/swiper.scss'

export default {
  props: {
    sliderId: {
      type: String,
      default: 'banner-slider'
    }
  },
  data () {
    return {
      currentSlide: 1,
      slides: [],
      totalSlides: 1,
      swiperOption: {
        spaceBetween: 0,
        slidesPerView: 1,
        loop: true,
        observer: true,
        observeParents: true,
        resizeObserver: true,
        navigation: {
          nextEl: ('#' + this.sliderId + '-button-next'),
          prevEl: ('#' + this.sliderId + '-button-prev')
        }
      }
    }
  },
  directives: {
    swiper: directive
  },
  components: {
    CmsBlock
  },
}
</script>
<style lang="scss">
.banner-content {
  width: 25.5%;
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
      width: 30%;
  }
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px 0;
  }
  .swiper-slider-wrap, .swiper-wrapper, .cms-content {
    height: 100%;
  }
}
</style>