<template>
  <div class="product-reviews-summary short flex middle-sm">
    <div class="rating-summary">
      <span class="rating-result" :style="filledStarStyle" /> {{ filledStarStyle }}
    </div>
    <span class="reviews-actions" v-if="productReviewCount > 0" @click.prevent="scrollToOpenReviewForm()">  ({{ productReviewCount }} {{ $t ('Reviews') }})</span>
    <a class="reviews-actions" v-else @click.prevent="scrollToOpenReviewForm()">{{ $t('Be the first to review') }}</a>
  </div>
</template>

<script>
import { ProductReviewLabel } from 'src/modules/bocm/review-ratings/components/ProductReviewLabel.js'
import { AlReviews } from 'src/modules/bocm/review-ratings/components/AlReviews.js'
import map from 'lodash-es/map'
import meanBy from 'lodash-es/meanBy'
import sumBy from 'lodash-es/sumBy'

export default {
  mixins: [ProductReviewLabel, AlReviews],
  computed: {
    filledStarStyle () {
      let ratings = 0;
      if (this.reviews && this.reviews.length > 0) {
        let getReviews = this.reviews.filter((x) => {
          return x.ratings.length
        })

        ratings = sumBy(map(getReviews, 'ratings'), (rating) => {
          return meanBy(rating, 'value');
        })
        let ratingLength = Math.round((((ratings / getReviews.length) * 100) / 5))
        return 'width:' + ((isNaN(ratingLength)) ? 0 : ratingLength) + '%';
      }
      return 'width:0';
    },
    productReviewCount () {
      return this.product && this.reviews ? this.reviews.length : 0;
    }
  }
}
</script>
