<template>
  <div class="brdr-top-1 brdr-cl-secondary">
    <section class="container px15 pb50 cl-primary product-rr-wrap">
      <div class="row between-xs">
        <div class="col-xs-12 col-md-6 pt50">
          <h2 class="h3 mb50 serif lh20 weight-700 mt0">
            {{ $t('Reviews') }}
          </h2>
          <al-product-review-list
            :per-page="4"
            :items="reviews"
            :product="product"
          />
        </div>
        <al-review-rating-form :product="product" :form-type="formType" />
      </div>
    </section>
  </div>
</template>

<script>
import { AlReviews } from 'src/modules/bocm/review-ratings/components/AlReviews.js'
export default {
  name: 'AlRatingReviews',
  data () {
    return {
      reviewPerPage: 4
    }
  },
  mixins: [ AlReviews ],
  components: {
    AlProductReviewList: () =>
      import('src/modules/bocm/review-ratings/components/AlProductReviewList.vue'),
    AlReviewRatingForm: () =>
      import('src/modules/bocm/review-ratings/components/AlReviewRatingForm.vue')
  }
}
</script>

<style lang="scss">
//Import colors
$black: color(black);
$gray: color(gray);
.review-control-vote {
  overflow: hidden;
  margin: 2px 0 0 15px;
}
.review-control-vote:before {
  color: $gray;
  font-size: 26px;
  height: 22px;
  line-height: 22px;
  font-style: normal;
  font-weight: normal;
  content: '★' '★' '★' '★' '★';
  display: block;
  position: absolute;
}
.review-control-vote input[type="radio"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.review-control-vote input[type="radio"]:hover + label:before,
.review-control-vote input[type="radio"]:checked + label:before {
  opacity: 1;
}
.review-control-vote label {
  cursor: pointer;
  display: block;
  position: absolute;
  margin:0px;
}
.review-control-vote label span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.review-control-vote label:before {
  color: $black;
  font-size: 26px;
  height: 22px;
  line-height: 22px;
  font-style: normal;
  font-weight: normal;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  opacity: 0;
}
.review-control-vote label:hover:before {
    opacity: 1;
  }
  .review-control-vote label:hover ~ label:before {
    opacity: 0;
  }
  .review-control-vote .rating-5 {
    z-index: 2;
  }
  .review-control-vote .rating-5:before {
    content: '★' '★' '★' '★' '★';
  }
  .review-control-vote .rating-4 {
    z-index: 3;
  }
  .review-control-vote .rating-4:before {
    content: '★' '★' '★' '★';
  }
  .review-control-vote .rating-3 {
    z-index: 4;
  }
  .review-control-vote .rating-3:before {
    content: '★' '★' '★';
  }
  .review-control-vote .rating-2 {
    z-index: 5;
  }
  .review-control-vote .rating-2:before {
    content: '★' '★';
  }
  .review-control-vote .rating-1 {
    z-index: 6;
  }
  .review-control-vote .rating-1:before {
    content: '★';
  }
  .review-control-vote:before {
    content: '☆' '☆' '☆' '☆' '☆';
  }
</style>
