<template>
  <section v-if="!singleBanner" class="offers container my-30">
    <cms-block :identifier="'promoted-offers'" />
  </section>
  <section v-else class="container">
    <div class="row sm:pt-30 sm:pb-30">
      <div
        class="col-xs-12"
        v-for="(banner, index) in banners.productBanners"
        :key="index"
      >
        <router-link :to="localizedRoute(banner.link)">
          <div
            class="offer offer-product bg-no-repeat bg-cover bg-center p-20 sm:p-40 text-center text-gray-400"
            v-lazy:background-image="banner.image"
          >
            <h2 class="m-0 text-xl md:text-xxl font-semibold">
              {{ banner.title }}
            </h2>
            <p class="p-0 subtitle uppercase btn text-lg">
              {{ banner.subtitle }}
            </p>
          </div>
        </router-link>
      </div>
    </div>
  </section>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import CmsBlock from 'theme/components/core/blocks/Cms/Block'

export default {
  name: 'PromotedOffers',
  components: {
    CmsBlock
  },
  props: {
    singleBanner: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  computed: {
    ...mapGetters({
      banners: 'promoted/getPromotedOffers'
    })
  },
  async created () {
    await this.updatePromotedOffers()
  },
  methods: {
    ...mapActions({
      updatePromotedOffers: 'promoted/updatePromotedOffers'
    })
  }
}
</script>

<style lang="scss">
  .offer-small {padding-top: 65%;}
  .offer-larg{padding-top:132.7%;}
  .offer-product{
    min-height: 330px;
  }
</style>
