<template>
  <button @click="$emit('click')" class="brdr-none bg-transparent inline-flex items-center text-13 mr-10">
    <span class="hidden-xs h6">
      {{ $t('Edit') }}
    </span>
    <i class="ml-5">
      <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.54286 13.6L1.22252 18.2212C1.12554 18.5606 1.43938 18.8745 1.77883 18.7775L6.4 17.4571M2.54286 13.6L6.4 17.4571M2.54286 13.6L12.3668 3.57143M6.4 17.4571L16.4286 7.42857M16.4286 7.42857L18.6714 5.18577C18.8511 5.00601 18.8464 4.71315 18.6609 4.53928L15.2069 1.30109C15.0284 1.13375 14.7489 1.1397 14.5776 1.31449L12.3668 3.57143M16.4286 7.42857L12.3668 3.57143" stroke="#000000" stroke-width="1.125" />
      </svg>
    </i>
  </button>
</template>
