<template>
  <button
    @click="isOnCompare ? removeProduct(product) : addProduct(product)"
    class="flex items-center border-none pointer text-sm text-gray-400"
    type="button"
    data-testid="addToCompare"
    aria-label="Add to compare"
  >
    <slot>
      <svg class="h-24 w-24 fill-current text-gray-600 mr-5" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0h48v48h-48z" fill="none" />
        <path d="M20 6h-10c-2.21 0-4 1.79-4 4v28c0 2.21 1.79 4 4 4h10v4h4v-44h-4v4zm0 30h-10l10-12v12zm18-30h-10v4h10v26l-10-12v18h10c2.21 0 4-1.79 4-4v-28c0-2.21-1.79-4-4-4z" />
      </svg>
      <template v-if="!isOnCompare">
        {{ $t('Add to compare') }}
      </template>
      <template v-else>
        {{ $t('Remove from compare') }}
      </template>
    </slot>
  </button>
</template>

<script>
import { IsOnCompare } from '@vue-storefront/core/modules/compare/components/IsOnCompare'
import { AddToCompare } from '@vue-storefront/core/modules/compare/components/AddToCompare'
import { RemoveFromCompare } from '@vue-storefront/core/modules/compare/components/RemoveFromCompare'
import i18n from '@vue-storefront/i18n'
import { htmlDecode } from '@vue-storefront/core/lib/store/filters'

export default {
  mixins: [IsOnCompare, AddToCompare, RemoveFromCompare],
  props: {
    product: {
      required: true,
      type: Object
    }
  },
  methods: {
    addProduct (product) {
      this.addToCompare(product)
      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        message: i18n.t('Product {productName} has been added to the compare!', { productName: htmlDecode(product.name) }),
        action1: { label: i18n.t('Okay') }
      }, { root: true })
    },
    removeProduct (product) {
      this.removeFromCompare(product)
      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        message: i18n.t('Product {productName} has been removed from compare!', { productName: htmlDecode(product.name) }),
        action1: { label: i18n.t('Okay') }
      }, { root: true })
    }
  }
}
</script>
