@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@font-face {
  font-family: 'Red Hat Display';
  src: url(/assets/fonts/RedHatDisplay-Light.woff2) format('woff2');
  font-weight:300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Red Hat Display';
  src: url(/assets/fonts/RedHatDisplay-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Red Hat Display';
  src: url(/assets/fonts/RedHatDisplay-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Red Hat Display';
  src: url(/assets/fonts/RedHatDisplay-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Red Hat Display';
  src: url(/assets/fonts/RedHatDisplay-Black.woff2) format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@layer components {
  .container{
    max-width:1270px; padding:0 15px;
  }
  .button-full {
    @apply border-0 w-full font-medium px-10 py-12 sm:px-20 md:py-17 text-base md:text-base bg-mine-shaft text-white font-redhat hover:bg-gray-400;
    border-radius:4px;
  }
  @media screen and (min-width: 900px){
    .button-full {
      min-width: 220px;
    }
 }
  a.button-full {
    @apply inline-block;
  }
  .button-outline {
    @apply border border-gray-500 font-medium hover:border-black px-10 sm:px-20 py-12 md:py-17 text-base md:text-base hover:text-white text-black font-redhat hover:bg-black transition-all duration-300;
    border-radius:4px;
  }
  @media screen and (min-width: 900px){
    .button-outline {
      min-width: 220px;
    }
  }
  a.button-outline {
    @apply inline-block;
  }
  .base-checkbox label:before {
    content: '';
    border-radius:2px;
    @apply absolute top-2 left-0 w-18 h-18 bg-white border border-gray-200 cursor-pointer;
  }
  .base-checkbox input:checked + label:before {
    @apply bg-white border-gray-200
  }
  .base-checkbox input:checked + label:after {
    content: '';
    @apply absolute top-8 left-5 w-11 h-5 border border-black border-t-0 border-r-0 bg-white transform -rotate-45;
  }
  .base-textarea textarea{
    @apply bg-transparent resize-none h-100;
  }
  .base-input label, .base-textarea label{
    transition: 0.2s ease all;
  }
  .base-input input:focus ~ label, .base-input input:not(.empty) ~ label, .base-textarea textarea:focus ~ label, .base-textarea textarea:not(.empty) ~ label{
    @apply -top-10 text-sm text-puerto-rico
  }
  
  .login-signup  input::-webkit-textfield-decoration-container div,  .login-signup  input::-webkit-credentials-auto-fill-button div {
    display: none !important;
    opacity:0;
  }
  .login-signup  input::-webkit-credentials-auto-fill-button {
    display: none !important;
    opacity:0;
  }
  input[type="password"]::-ms-reveal,
  input[type="password"]::-ms-clear {
    display: none;
  }
  .overlay {@apply fixed w-full h-full top-0 left-0 z-4 bg-black opacity-40}

  .base-checkbox label:before {
    content: '';
    @apply cursor-pointer absolute top-3 left-0 border border-gray-200 w-18 h-18;
  }
  .base-checkbox input:checked + label:before {
    @apply bg-white border-gray-200 w-18 h-18;
  }
  .base-checkbox input:checked + label:after {
    content: '';
    @apply absolute top-8 left-4 w-11 h-6 border-b-2 border-l-2 border-gray-200 transform -rotate-45
  }
  .select-wrapper:after {
    content: '';
    transform: rotate(135deg);
    @apply block absolute top-22 right-22 border-0 w-9 h-9 pointer-events-none border-t border-r border-gray-600;
  }
  .radioStyled{
    @apply relative block pl-35 pr-15 mb-12 cursor-pointer leading-25;
  }
  .radioStyled input{
    @apply opacity-0 absolute cursor-pointer;
  }
  .radioStyled .checkmark{
    @apply absolute left-0 top-0 w-25 h-25 rounded-full border border-gray-400;
  }
  .radioStyled .checkmark::after{
    content: "";
    @apply absolute left-2 top-2 w-19 h-19 rounded-full bg-gray-400 opacity-0;
  }
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-redhat font-bold;
  }
  h1 {
    @apply text-lg md:text-xl my-20 md:my-38
  }
  h2 {
    @apply text-22 md:text-lg my-18 md:my-30
  }
  h3 {
    @apply text-md md:text-md my-16 md:my-24
  }
  h4 {
    @apply text-base my-16 md:my-24
  }
  h5 {
    @apply text-sm my-15 md:my-22
  }
  h6 {
    @apply text-xs my-15 md:my-22
  }
  img {
    @apply max-w-full max-h-full
  }
  p{
    @apply pb-15 leading-22 text-sm md:text-base;
  }
  p:empty {
    @apply hidden
  }
}
.topbar-left, .topbar-center, .header-topbar .empty-div  {
  @apply w-4/12
}
.topbar-left a {
  @apply pr-5 text-white
}
.topbar-center {
  @apply text-center
}
.topbar-center a {
  @apply text-orange-dark font-bold
}
.header-topbar .empty-div {
  @apply hidden md:block
}

body{
  @apply font-redhat;
}
a{
    @apply text-gray-200 hover:text-orange-dark transition-all duration-500;
  }
:focus{
  @apply outline-none;
}
.btn-small{
  @apply border border-black bg-black text-white;
}
div.left-sidebar {
  overflow: hidden;
}
.sidebar-menu .sidebar-menu__container{
  height: calc(100% - 55px);
}
.sidebar-menu .sidebar-submenu {
  @apply bg-white;
  height: calc(100vh - 110px);
}
/* CSS specific to iOS devices */ 
@supports (-webkit-touch-callout: none) {
  .sidebar-menu .sidebar-menu__container{
    height: calc(100% - 155px);
  }
  .sidebar-menu .sidebar-submenu {
    height: calc(100vh - 205px);
  }
}
.sidebar-menu .sidebar-menu__list{
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.sidebar-menu .sidebar-menu__container a {
  @apply block text-sm leading-19 text-gray-200 py-20 w-full border-b border-gray-500
}
.sidebar-menu .sidebar-menu__container li {
  @apply flex
}
.sidebar-menu .sidebar-menu__container button {
  @apply text-sm leading-19 text-gray-200 py-20 flex justify-between items-center w-full hover:text-orange-dark border-b border-gray-500
}
.sidebar-menu .sidebar-menu__container .router-link-exact-active {
  @apply text-orange-dark
}

/* Footer start */
.footer-title:after {
  content: "";
  width: 114px;
  @apply absolute left-0 bottom-0 bg-white bg-opacity-10 h-1;
}
.footer-title{
  @apply text-base font-bold pb-11 text-white relative mb-20 leading-21;
}
.footer-menu-list a {
  @apply text-sm md:text-base leading-19 md:leading-21 text-white hover:text-orange-dark mb-12 md:mb-25;
}
.footer-menu-list a:last-child {
  @apply mb-0
}
.footer-links p a{
  @apply text-white hover:text-orange-dark;
}
.footer-links p {
  @apply pt-0;
}
.footer-col:first-child {
  width: 18.5%;
}
.footer-col-last {
  width: 41%;
  max-width: 365px;
}
.footer-row-second .footer-col:nth-child(2) {
  @apply w-1/5;
  min-width: 185px;
}
.footer-logo-col {
  @apply inline-block align-top
}
.footer-logo-col span {
  @apply block mb-8 text-xs md:text-sm leading-22
}
.footer-logo-col:first-child {
  @apply mr-45
}
.footer-logo-col:not(:last-child) {
  @apply mb-40
}
.social-icon {
  @apply flex flex-wrap my-30;
  max-width: 150px; 
}
.social-icon a {
  @apply mb-10 mr-10 inline-block align-top
}
.footer-links {
  @apply text-white py-30 md:py-50
}
.footer-wrap {
  @apply md:flex flex-wrap justify-between
}
.footer-left {
  @apply w-1/2 md:w-1/4
}
.f-logo p {
  @apply pb-19 text-sm leading-22
}
.footer-right {
  @apply w-1/2 md:w-3/4
}
.footer-row {
  @apply md:flex flex-wrap justify-between mb-0 md:mb-60
}
.footer-menu-list {
  @apply flex flex-col
}
.footer-row-second {
  @apply md:flex flex-wrap justify-between mb-0;
}
.copyright {
  @apply bg-gray-400 py-15
}
.copyright p { 
  @apply text-white pb-0 text-xs md:text-sm leading-19
}
/* Footer end */

.swiper-arrows .swiper-button-prev,
.swiper-arrows .swiper-button-next{
  @apply top-2/4 z-10 absolute cursor-pointer;
}
.swiper-arrows .swiper-button-next{
  @apply right-0;
}
table {
  @apply w-full border border-gray-200 border-collapse leading-normal text-left;
}
table thead th {
  @apply p-10 lg:p-20 font-redhat text-base;
}
table tbody tr {
  @apply border-t border-gray-200;
}
table tbody td {
  @apply text-base md:text-md p-10 lg:p-20;
}
.dropdown-content {
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 200px;
  @apply absolute right-0 top-full z-1 bg-white leading-20 text-sm py-5 hidden;
}
.dropdown-content a {
  @apply py-10 px-15 leading-normal block leading-18;
}
.dropdown-content a:hover {
  @apply text-white;
}
.dropdown:hover .dropdown-content {
  @apply block;
}
table tbody tr:last-child .dropdown:hover .dropdown-content {
  @apply top-auto bottom-full;
}
.table-wrap {
  @apply overflow-auto max-w-full;
}

.coupon-input .text-base{
  @apply bg-transparent;
}

.searchpanel .overlay-fixed .overlay{
  top:105px
}
/* notification popup css start */
.notifications {
  width: 450px;
  @apply z-50 fixed lg:top-50 lg:right-50 right-0 bottom-0 lg:bottom-auto left-0 lg:left-auto
}
.notification {
  @apply flex justify-between items-center bg-white text-sm leading-20 font-medium overflow-hidden rounded px-30 py-25 text-gray-400 lg:mt-30 first:mt-0; 
  box-shadow: 0px 7px 10px rgba(51, 51, 51, 0.1);
  min-height: 90px;
}
.notification .message::before {
  content: "";
  min-width: 25px;
  background-size: 100%;
  @apply h-25 mr-15 bg-no-repeat;
}
.notification .actions {
  @apply flex
}
.actions .notification-action{
  @apply bg-gray-400 text-white px-30 py-10 leading-20 font-bold rounded cursor-pointer
}
.notification.success .message {
  @apply text-puerto-rico
}
.notification.error .message {
  @apply text-burnt-sienna
}
.notification.success .message::before {
  background-image: url('/assets/notification-success.svg')
}
.notification.error .message::before {
  background-image: url('/assets/notification-error.svg')
}
.notification.warning .message::before {
  @apply hidden
}
.notification.wishlist-notification .message::before {
  background-image: url('/assets/notification-wishlist.svg')
}
.notification.wishlist-notification-removed .message::before {
  background-image: url('/assets/notification-wishlist-empty.svg')
}
.notification.notification-product,
.notification.warning {
  width: 408px;
  @apply flex-wrap ml-auto;
}
.notification.warning {
  width: 310px;
}
.notification.notification-product .actions,
.notification.warning .actions {
  @apply mt-20 flex-row-reverse text-center w-full
}
.notification.remove-product .actions {
  @apply flex-row
}
.notification.notification-product .notification-action,
.notification.warning .notification-action { 
  @apply last:mr-20 odd:bg-gray-400
}
.notification.warning .notification-action { 
  @apply w-full
}
.notification.notification-product .message::before {
  background-image: url('/assets/notification-cart.svg')
}
.notification.success .notification-action {
  @apply bg-puerto-rico
}
.notification.error .notification-action  {
  @apply bg-burnt-sienna
}
.notification.warning .notification-action {
  @apply odd:bg-burnt-sienna
}
.notification.remove-product .notification-action {
  @apply even:bg-burnt-sienna odd:mr-20 even:mr-0 odd:bg-transparent odd:border odd:border-gray-400 odd:text-gray-400
}
.notification.info,
.notification.wishlist-notification .message,
.notification.wishlist-notification-removed .message {
  @apply text-gray-400
}
.action-border.border-success {
  @apply border-puerto-rico
}
.action-border.border-error {
   @apply border-burnt-sienna
}
.action-border.border-info {
  @apply border-gray-400
}
.notification.wishlist-notification .notification-action, 
.notification.wishlist-notification-removed .notification-action {
 @apply bg-gray-400
}
/* notification popup css end */

/* loader css  */
.site-ajax-loader {
  @apply h-40 w-40 m-8 inline-block;
}
.site-ajax-loader:after {
  @apply h-40 w-40 m-8 block;
  content: " ";
  border-radius: 50%;
  border: 4px solid black;
  border-color: black transparent black transparent;
  animation: site-ajax-loader 1.2s linear infinite;
}
@keyframes site-ajax-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.skeleton {
  @apply relative m-auto border border-t-5 border-b-5 border-white
}
.skeleton-image:after, .skeleton-line:after {
    content: "";
    animation: skeleton 2s infinite ease;
    @apply absolute left-0 w-full top-0 bottom-0 opacity-60 bg-gray-50
}
@keyframes skeleton {
  0% {
    @apply opacity-20
  }
  40%{
    @apply opacity-60
  }
   100% {
    @apply opacity-20
  }
}
.swiper-button-prev, .swiper-button-next{
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}
.swiper-button-disabled{
  @apply opacity-50
}
/* ----Mega menu css---- */
.category__megamenu{
  @apply relative
}
.category__megamenu .category__first-level > ul .firstlevel-li .firstlevel{
  @apply text-sm text-gray-200 py-14 px-8 lg:px-25 flex text-center items-center leading-15 h-full ;
}
.category__megamenu .category__first-level > ul .firstlevel-li .firstlevel:hover, .category__megamenu .category__first-level ul.firstlevel-ul li.firstlevel-li:hover a.firstlevel{
  @apply text-orange-dark;
}
.category__megamenu .category__first-level > ul .megamenu{
  @apply flex absolute w-full left-0 hidden opacity-0 -mt-1;
  top: 100%;
  transition: opacity 1s ease-out;
}
.category__megamenu .category__first-level > ul .firstlevel-li:hover .megamenu{
  @apply flex opacity-100;
}
.category__megamenu .category__first-level > ul .megamenu .megamenu-bg{
  @apply flex bg-white relative w-full  overflow-y-auto;
  height:325px;
}
.category__megamenu .category__first-level > ul .megamenu .category__second-level{
  width:64%
}
.category__megamenu .category__first-level > ul .megamenu .category__image{
  width:36%
}
.category__megamenu .category__first-level > ul .megamenu .category__second-level > ul{
  @apply flex flex-wrap;
}
.category__megamenu .category__first-level > ul .megamenu .category__second-level > ul > li{
  @apply w-1/3 my-10 pr-10;
}
.category__megamenu .category__first-level > ul .megamenu .category__second-level > ul li .secondlevel{
  @apply  border-b border-gray-500 text-sm text-gray-600 pb-10 leading-15 inline-block mb-10;
}
.category__megamenu .category__first-level > ul .megamenu .category__second-level > ul li .category__third-level li a{
  @apply py-10 text-sm text-gray-200 block leading-15;
}
.category__megamenu .category__first-level > ul .megamenu .category__second-level > ul li .category__third-level li a:hover{
  @apply text-black;
}
.category__image-text p label{
   @apply text-gray-600;
}
.category__image-text p{
   @apply pt-5 text-base text-gray-200 pb-0 leading-15;
}

/* Home Banner start */
.banner-content-wrap {
  @apply px-45 md:px-50 xl:px-58
}
.banner-content-wrap h1 {
  @apply text-gray-600 font-medium text-20 lg:text-22 xl:text-25 leading-26 md:leading-33 m-0
}
.banner-content-wrap h1 strong {
  @apply block text-black
}
.banner-content-wrap span {
  @apply mt-5 md:mt-0 block leading-40 text-gray-600 text-18 md:text-md mb-30 font-medium
}
.banner-content-wrap span strong {
  @apply text-orange-dark font-medium text-lg
}
.banner-content-wrap p {
  @apply text-sm md:text-base leading-24 text-gray-600 pb-30
}
.banner-content-wrap a {
  @apply button-outline min-w-0 border-orange-dark text-orange-dark px-37 md:px-25 xl:px-37 py-8 leading-22
}
/* Home Banner end */

/* Home Promotional section start */
.home-promotionl-section {
  max-width: 1470px;
}
.promotionl-wrap {
  background: linear-gradient(180deg, #FFFFFF 65.14%, #FBFBFB 100%);
  @apply border-b border-gray-500 py-15 md:py-30 px-50 flex flex-wrap lg:flex-nowrap justify-between items-center flex-col md:flex-row;
}
.promotionl-wrap .promotionl-box {
  @apply pl-41 md:pl-50 relative md:w-1/2 lg:w-auto
}
.promotionl-wrap .promotionl-box:not(:last-child) {
  padding-right: 119px;
}
.promotionl-wrap .promotionl-box:not(:last-child)::after {
  content: "";
  @apply absolute right-54 top-0 bottom-0 m-auto border-r border-gray-500 h-30 hidden md:block
}
.promotionl-wrap .promotionl-box img {
  @apply absolute left-0 top-0 bottom-0 m-0 md:m-auto w-30 md:w-35 h-30 md:h-35
}
.promotionl-wrap .promotionl-box strong {
  @apply block text-xs md:text-sm text-gray-200 leading-16 md:leading-21 mb-2 font-medium
}
.promotionl-wrap .promotionl-box p {
  @apply text-xs md:text-sm leading-16 md:leading-19 text-gray-600 pb-0
}
.promotionl-wrap a {
  @apply text-gray-600 inline-block
}
/* Home Promotional section end */

/* ----Current-sale menu css---- */
.summar-sale-banner {
  @apply relative bg-gray-100;
}
.summar-sale-banner img.absolute{
  @apply absolute  left-0 top-0 object-cover w-full h-full;
}
.summar-sale-banner-text{
  @apply text-center bg-white p-20 sm:p-40 absolute inset-20 md:inset-40 m-auto justify-center flex-col flex;
}
.summar-sale-banner-text h1{
  @apply m-0 text-40 sm:text-xxl leading-40 sm:leading-50 text-orange-dark font-bold pb-40;
}
.summar-sale-banner-text h1 label{
  @apply text-gray-200 text-md sm:text-xl block sm:mb-25;
}
.summar-sale-banner-text p.text-md{
  @apply text-sm sm:text-md font-medium;
}
.summar-sale-banner-text ul{
  @apply flex justify-center mb-30;
}
.summar-sale-banner-text ul li{
  @apply bg-gray-200 text-white text-center py-10 mx-5;
}
.summar-sale-banner-text ul li .digit{
  @apply text-18 font-bold pb-5 leading-22;
}
.summar-sale-banner-text ul li .text{
  @apply text-xs p-0 leading-10;
}
.summar-sale-banner-text p.pb-10{
  @apply pb-10;
}
.summar-sale-banner-text p.pb-10 span{
  @apply font-bold;
}
.summarsale-time-end {
  @apply bg-gray-300 py-13 px-30 inline-block;
}
.sub-cat-coll:first-child {
  @apply border-l border-gray-500
}
.sub-cat-coll:nth-child(4n+1) {
  @apply border-l border-gray-500
}


/* ----Current-sale menu css---- */

/* cabinet section start */
.cabinet-description h2 {
  @apply text-base md:text-20 lg:text-lg leading-21 md:leading-32 text-gray-200 mt-0 mb-10 lg:mb-8
}
.cabinet-description span {
  @apply text-gray-600 leading-18 md:leading-21 mb-20 block text-sm lg:text-base
}
.cabinet-description p {
  max-width: 882px;
  @apply text-gray-600 text-sm leading-22 m-auto p-0;
}
.cabinet-list-wrap {
  @apply flex flex-wrap pt-10 md:pt-50 lg:pt-80 -mx-10
}
.cabinet-list {
  @apply w-full md:w-1/3 px-10 mt-20 md:mt-0 flex flex-col
}
.cabinet-img {
  height: 250px;
  @apply relative mb-20
}
.cabinet-list img {
  @apply object-cover w-full h-full absolute left-0 top-0 z-1
}
.cabinet-list h3 {
  @apply text-gray-200 text-base lg:text-md leading-21 lg:leading-26 mt-0 mb-10
}
.cabinet-list p {
  @apply text-gray-600 text-sm lg:text-base leading-20 lg:leading-26 pb-10 md:pb-20 lg:pb-30
}
.cabinet-list a {
  border-bottom-width: 1.5px;
  @apply table m-auto border-gray-500 hover:border-orange-dark pb-4 leading-21 font-medium mt-auto mb-0 text-sm lg:text-base
}
/* cabinet section end */
.newsletter-wrap form input  {
  @apply w-full text-base text-gray-600 pl-20 pr-50 placeholder-gray-600 h-50 border-0
}

/* ----Cabinets Components Listing Page css ---- */

.category_tabs table tr, .category_tabs table  td, .category_tabs table{
  @apply border-0;
}
.category_tabs table tr{
  @apply sm:flex items-center;
}
.category_tabs table  td{
  @apply text-sm font-medium text-gray-200 p-0 pb-20 md:pb-30 w-full sm:w-6/12 flex items-center;
}
.category_tabs table  td img, .category_tabs table  td svg{
  max-width: 20px;
  max-height: 20px;
  @apply mr-10;
}
.category_tabs .tab{
  @apply p-16 md:p-30 pb-0;
}

.product-box .productLink{
  @apply flex 
}
.product-box .productLink .product-cover{
  flex: 0 0 100px;
}
.product-box .productLink .product-price{
  @apply text-left pl-15;
}
.product-box .productLink .product-price .product-name{
  @apply mt-0 font-medium leading-21;
}
.product-box .productLink .product-price  .price-tag{
  @apply text-16 md:text-18 font-bold text-gray-200 mr-10;
}
.quantity-col{
  flex: 0 0 100px;
  @apply mr-10;
}
.thumb-slider-left .swiper-slide-active{
  @apply border-orange-dark;
}
.product-details-tabs .disabled.button-disabled {
  @apply bg-transparent
}
.category-title {
  min-height: 80px;
}
.category_tabs.skeleton-image, .category_tabs .tabs__light {
  min-height: 553px;
}
.category_tabs.skeleton-image::after{
  @apply rounded-lg;
}
.category__image_content{
  padding-bottom: 89%;
}
.product-details-tabs-skeleton{
  min-height: 495px;
  @apply rounded-lg;
}
.product-details-tabs-skeleton .cabinet-img {
  padding-top: 62%;
  @apply h-auto;
}
.my_account_left .router-link-exact-active{
  @apply text-gray-200 border-orange-dark;
}
.myaccount-label-row .myaccount-label{
  width: 20%;
  @apply leading-18;
}
.myaccount-label-row .myaccount-label-name{
  width: 80%;
  @apply pl-5 leading-18;
}
.breakwords{
  word-break: break-word;
}
.tablewrap table{
  @apply border-0;
}
.tablewrap table thead tr{
  @apply border border-gray-500 bg-gray-100;
}
.tablewrap table thead tr th{
  @apply text-base font-medium text-gray-600 py-20 px-10 text-center leading-18;
}
.tablewrap table tbody tr{
    @apply border-0
}
.tablewrap table tbody tr td{
  @apply text-sm font-medium text-gray-200 py-20 px-25 text-center leading-18;
}
.tablewrap table tfoot tr td{
  @apply text-sm text-gray-200 pt-20 pb-0 px-25 leading-18;
}
.tablewrap .dropdown-content{
  width:140px
}
.tablewrap table tbody tr td.text-left, .tablewrap table thead tr th.text-left{
  @apply text-left
}
.tablewrap table tbody tr td.font-medium{
  @apply font-medium;
}
.tablewrap table tbody tr td.font-bold{
  @apply font-bold;
}
.mywishlist .products{
  @apply flex flex-wrap;
}
.mywishlist .products .wishlist-col{
  @apply w-6/12 lg:w-4/12 border border-gray-500 border-l-0 p-10 -mb-1 block;
}
.mywishlist .products .wishlist-col:first-child {
  @apply border-l border-gray-500
}
.mywishlist .products .wishlist-col:nth-child(3n+1) {
  @apply border-l border-gray-500
}
.mywishlist .products .wishlist-col .wishlist-text{
  @apply text-center pl-0 pr-0;
}
.mywishlist .products .wishlist-col .blend a{
  @apply  bg-gray-300 mb-10 sm:mb-20;
}
.mywishlist .products .wishlist-col .blend a .product-image {
  padding-bottom: calc(300% / (277.5 / 93)) !important;
}
.mywishlist .products .wishlist-col .wishlist-text .wishlist-name{
  @apply mr-0 block pr-0;
}
.mywishlist .products .wishlist-col .wishlist-text .wishlist-name a{
  @apply text-gray-600 font-medium;
}
.mywishlist .products .wishlist-col .wishlist-text .wishlist-name .button-full{
  @apply text-gray-200 font-medium text-16 bg-white p-0 rounded-none mt-10 mb-10 border-b-2 border-gray-500 pb-5;
}
.mywishlist .products .wishlist-col .wishlist-text .wishlist-name .button-full:hover{
  @apply text-orange-dark ;
}
/* search popup */
.search-grid .product__icons {
  @apply hidden
}
.search-grid .product {
  @apply mb-20 last:mb-0 p-10 border border-gray-500
}
.search-grid .productLink {
  @apply flex text-left
}
.search-grid .productLink .product-cover {
  width: 80px;
  height: 80px;
  @apply mr-10
}
.search-grid .productLink .product-cover a {
  @apply h-full
}
.search-grid .productLink .product-image {
  padding-bottom: 0 !important;
  @apply h-full;
}
.search-grid .product-price .product-name {
  @apply mt-0 mb-18 font-medium text-sm text-gray-200 left-19
}
.search-grid .product-price .price-tag {
  @apply font-bold text-sm text-gray-200 mr-10 leading-19 inline-block align-middle
}
.search-grid .product-price .price-special {
  @apply text-xs text-gray-600 leading-19 inline-block align-middle
}
/* search popup */

@media only screen and (min-width: 1024px) and (max-width: 1470px){ 
  .promotionl-wrap {
    @apply px-20
  }
  .promotionl-wrap .promotionl-box strong,
  .promotionl-wrap .promotionl-box p {
    @apply text-13
  }
  .promotionl-wrap .promotionl-box:not(:last-child) {
    @apply pr-50;
    width: 28%;
  }
  .promotionl-wrap .promotionl-box:not(:last-child)::after {
    right: 10%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px){ 
  .promotionl-wrap .promotionl-box:not(:last-child) {
    @apply pr-0
  }
  .promotionl-wrap .promotionl-box:nth-child(-n+2) {
    @apply mb-20
  }
  .promotionl-wrap .promotionl-box:nth-child(2n) {
    margin-left: 7%;
    width: 43%;
  }
  .promotionl-wrap .promotionl-box:nth-child(2):after {
    @apply hidden
  }
  .promotionl-wrap .promotionl-box:not(:last-child)::after {
    @apply right-0
  }
  .cabinet-img {
    padding-top: 62%;
    @apply h-auto
  }
}
@media (max-width: 1023px){
  .sub-cat-coll:nth-child(2n+1) {
    @apply border-l border-gray-500
  }
  .mywishlist .products .wishlist-col:nth-child(2n+1) {
    @apply border-l border-gray-500
  }
}
@media only screen and (min-width: 767px) and (max-width: 991px){ 
  .category__megamenu .category__first-level > ul .megamenu .megamenu-bg {
    height: 235px;
  }
  .category__megamenu .category__first-level > ul .megamenu .category__second-level > ul li .secondlevel,
  .category__megamenu .category__first-level > ul .megamenu .category__second-level > ul li .category__third-level li a {
    @apply text-xs
  }
  .category__image-text p {
    @apply text-sm
  }
}
@media (max-width: 991px){ 
  .social-icon {
    @apply max-w-full mb-5;
  }
  .footer-logo-col, .footer-logo-col:first-child {
    @apply mr-30 mb-0;
  }
  .footer-logo-col:last-child {
    @apply m-0;
  }
  .footer-col-last, .footer-col, .footer-row-second .footer-col:nth-child(2), .footer-col:first-child {
    @apply w-full;
  }
  .footer-wrap > div {
    @apply w-full
  }
  .footer-menu-list, .f-logo div.footer-title:after, .f-logo div.footer-title:before {
    @apply hidden
  }
  .footer-title {
    @apply w-full border-b border-white border-opacity-10 py-15 mb-0;
  }
  .footer-title:after, .footer-title:before {
    content: "";
    @apply block absolute top-0 bottom-0 left-auto right-7 m-auto w-1 h-16 bg-white;
  }
  .footer-title:after {
    @apply h-1 w-16 right-0;
  }
  .footer-row:first-child, .footer-logo-col:not(:last-child) {
    @apply mb-0;
  }
  .f-logo {
    @apply border-b border-white border-opacity-10 pb-20;
  }
  .f-logo .footer-title {
    @apply mb-10
  }
  .footer-col-last {
    @apply max-w-full mt-30;
  }
  .footer-col.active .footer-menu-list {
    @apply flex pt-5 pb-15 border-b border-white border-opacity-10;
  }
  .footer-col.active .footer-title {
    @apply border-b-0;
  }
  .footer-col.active .footer-title:before {
    @apply hidden
  }
  .footer-menu-list a {
    @apply mb-12
  }
  .myaccount-label-row .myaccount-label{
    width: 40%;
  }
  .myaccount-label-row .myaccount-label-name{
    width: 60%;
  }
}
@media (max-width: 767px){ 
  body{
    @apply pb-70 text-sm
  }
  header{
    @apply border-b border-gray-500;
  }
  .text-base {
    @apply text-sm
  }
  .hrader-iconbar .search-icon, .hrader-iconbar .home-icon, .hrader-iconbar .compare-icon, .hrader-iconbar .wishlist-icon{ width:25%;}
  .hrader-iconbar .search-icon svg path{stroke:#aaa;}
  .hrader-iconbar .home-icon svg path {fill:#aaa;}
  .hrader-iconbar .compare-icon svg rect{stroke:#aaa;}
  .hrader-iconbar .wishlist-icon svg path{stroke:#aaa;}
  .hrader-iconbar .search-icon:hover svg path{stroke:#fff;}
  .hrader-iconbar .home-icon:hover svg path {fill:#fff;}
  .hrader-iconbar .compare-icon:hover svg rect{stroke:#fff;}
  .hrader-iconbar .wishlist-icon:hover svg path{stroke:#fff;}
  .hrader-iconbar{
    @apply fixed bottom-0 left-0 w-full;
  }
  .hrader-iconbar .cart-icon{
    @apply fixed top-6 right-10; 
  }
  .hrader-iconbar .account-icon{ 
    @apply fixed top-6 right-56;
  }
  .footer-logo-col:first-child {
    max-width: 88px;
  }
  .footer-col-last {
    @apply mt-20
  }
  .f-logo img {
    max-width: 80px;
  }
  .footer-logo-col:last-child img {
    width: 80px;
  }
  .footer-logo-col:nth-child(2) img {
    width: 81px;
  }
  .promotionl-wrap .promotionl-box:not(:last-child) {
    @apply pr-0 mb-30
  }
  .promotionl-wrap .promotionl-box {
    width: 185px;
  }
  .cabinet-list { 
    max-width: 400px;
    @apply mx-auto;
  }
  .cabinet-img {
    height: 238px;
  }
  .newsletter-wrap  {
    padding-bottom: 125px;
    @apply pt-30 px-30
  }
  .category__image_content{
    padding-bottom: calc(66.4% + 100px);
  }
  body #my_account .my_account_right {
    width: 100%;
  }
  .static-menu.active{
    @apply block;
  }
  .mobile-static-menu.active .rightarrow{
    @apply hidden;
  }
  .mobile-static-menu.active .bottomarrow{
    @apply block;
  }
  .tablewrap table thead tr th, .tablewrap table thead{
    @apply hidden;
  }
  .tablewrap table tbody tr{
    @apply pt-10 block border-t border-gray-500;
  }
  .tablewrap table tbody tr td{
    @apply flex py-10 px-0 text-16 text-left;
  }
  .tablewrap table tbody tr td .th{
    @apply text-gray-600 w-6/12;
  }
  .tablewrap table tbody tr td .td{
    word-break: break-word;
    @apply w-6/12 pl-5;
  }
  .tablewrap .dropdown{
     @apply block  w-full pt-5 pb-10;
  }
  .tablewrap .dropdown-content, 
  .tablewrap .dropdown:hover .dropdown-content,
  .tablewrap table tbody tr:last-child .dropdown:hover .dropdown-content
  {
    @apply  flex relative inset-auto p-0 shadow-none w-full;
  }
  .tablewrap .dropdown-content a{
    @apply block w-6/12 text-center button-outline leading-15 min-w-0 py-17 px-10 w-full bg-gray-200 border-gray-200 text-white;
  }
  .tablewrap .dropdown-content a:hover{
     @apply bg-white border-gray-200 text-gray-200
  }
  .tablewrap .dropdown-content a.order-btn{
     @apply bg-white border-gray-200 text-gray-200
  }
  .tablewrap .dropdown-content a.order-btn:hover{
     @apply bg-gray-200 text-white
  }
  .tablewrap table tbody tr td .td.w-full{
     @apply w-full pl-0
  }
  .item-thumbnail-row{
    padding-left:120px;
  }
  .item-thumbnail-row .thumbnail-img{
    width:90px;
  }
  .tablewrap table tfoot{
    @apply block
  }
  .tablewrap table tfoot tr td{
    width:40%;
    @apply p-0 pb-20 text-16
  }
  .feature-tile-col:nth-last-child(-n + 2) {
    display: none;
  }
  .feature-tile-col:nth-child(2) {
    @apply border-r border-gray-500
  }
  .notification {
    width: 100% !important;
    box-shadow: 0px -7px 10px rgba(51, 51, 51, 0.1);
  }
  .notification.notification-product .actions .notification-action {
    @apply w-full whitespace-nowrap
  }
  .search-sidebar .searchpanel {
    @apply min-h-full fixed left-0 right-0 top-0 bottom-0 overflow-auto z-50
  }
  .searchpanel .overlay-fixed .overlay {
    @apply hidden
  }
  .search-title input.search-panel-input {
    @apply w-full pr-20
  }
  .search-title input.search-panel-input.focus,
  .search-sidebar .search-title {
    @apply w-full
  }
  .search-sidebar .close-search svg {
    @apply w-30 h-30
  }
  .search-sidebar .search-popup {
    @apply relative px-20 pb-20 top-0 left-0 w-full
  }
  .search-sidebar .search-title {
    @apply pt-70 px-20
  }
  
}
@media (max-width: 400px){
  .footer-logo-col:not(:last-child) {
    @apply mr-15;
  }
  .myaccount-label-row .myaccount-label{
    width: 30%;
  }
  .myaccount-label-row .myaccount-label-name{
    width: 70%;
  }
}
