<template>
  <div>
    <div class="md:flex flex-wrap -mx-10">
      <div class="w-full lg:w-8/12 px-10">
        <tabs tabs class="product-details-tabs border border-gray-500 rounded-lg" v-if="currentCategory.children_data">
          <tab :title="category.name" class="row m0 pt-16 md:pt-30" v-for="(category, cindex) in currentCategory.children_data" :key="cindex" :is-active="cindex==selectedTabIndex">
            <div class="sub small-space" v-for="(subcategory, sindex) in category.children_data" :key="'sub-' + sindex" v-observe-visibility="{ callback: (isVisible, entry) => visibilityChanged(isVisible, entry, subcategory), once: true }">
              <div class="p-16 md:p-20 pb-12 pt-0 md:pt-0 md:pb-12 text-base flex flex-wrap" v-if="sindex === 0">
                <div class="product-detail-links rounded-full leading-18 text-sm md:text-base cursor-pointer border border-gray-500 py-8 px-12 md:py-10 md:px-20 mr-10 md:mr-20 mb-7 md:mb-18 hover:text-orange-dark" v-for="(subcategory, sindex) in category.children_data" :key="sindex">
                  {{ subcategory.name }}
                </div>
              </div>
              <div class="bg-gray-100 border-t border-b text-sm md:text-base border-gray-500 p-13 font-medium text-center">
                {{ subcategory.name }}
              </div>
              <div class="sm:flex flex-wrap -mx-10 p-16 md:p-20 pb-0">
                <div v-for="product in subcategoryData(subcategory.id)" :key="product.id" class="product-box w-12/12 sm:w-6/12 px-10 mb-16 md:mb-20">
                  <product-tile :product="product" class="rounded-md border border-gray-500 p-15" :icons="false" :description="true">
                    <div class="flex pt-20">
                      <product-quantity
                        class="row m0 mb35 quantity-col"
                        v-if="product.type_id !== 'grouped' && product.type_id !== 'bundle'"
                        v-model="product.qty"
                      />
                      <add-to-cart
                        :key="'add_to_'+ product.id"
                        v-if="product.type_id === 'simple'"
                        :product="product"
                        :disabled="!product.stock.is_in_stock"
                        class="min-auto wishlist-add-to-cart h-40 py-10 px-10 font-medium text-14 bg-white hover:bg-gray-200 border border-gray-200 text-gray-200 hover:text-white"
                      />
                    </div>
                  </product-tile>
                </div>
              </div>
            </div>
          </tab>
        </tabs>
        <div class="skeleton-image rounded-lg product-details-tabs-skeleton relative" v-else />
      </div>
      <div class="w-full lg:w-4/12 px-10">
        Shopping Cart side bar
      </div>
    </div>
  </div>
</template>
<script>
import ProductTile from 'theme/components/core/ProductTile'
import { mapGetters } from 'vuex'
import AddToCart from 'theme/components/core/AddToCart'
import ProductQuantity from 'theme/components/core/ProductQuantity.vue'

export default {
  data () {
    return {
      selectedTabIndex: 0
    }
  },
  components: {
    ProductTile,
    ProductQuantity,
    AddToCart,
    Tabs: () => import(/* webpackChunkName: "bocm-tabs" */ 'theme/components/theme/Tabs.vue'),
    Tab: () => import(/* webpackChunkName: "bocm-single-tab" */ 'theme/components/theme/Tab.vue')
  },
  props: {
    currentCategory: {
      type: Object,
      default: () => {},
      require: true
    }
  },
  computed: {
    ...mapGetters({
      categoryProducts: 'bocmproduct/getCategoryProductList'
    })
  },
  methods: {
    async getCategoryProducts (category) {
      await this.$store.dispatch('bocmproduct/categoryProductList', category)
    },
    subcategoryData (categoryId) {
      let category = this.categoryProducts.find(x => x.categoryId === categoryId)
      if (category) {
        return category.products
      }
      return []
    },
    visibilityChanged (isVisible, entry, category) {
      this.getCategoryProducts(category)
    }
  },
  created () {
    this.selectedTabIndex = 0
  }
}
</script>
